{% extends "prototype-sept2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

{% if data['claim-status'] == 2 %}

<h1 class="heading-large"><span class="heading-secondary">000LR095</span>
  Michael Jones v Jan Clark
</h1>

<h3 class="heading-medium">Date issued</h3>
<p>
  {{ now | date("subtract", 3, "months") | date( "DD MMMM YYYY" ) }}<br />
  <a target="_blank" href="/public/documents/N1-form-sealed.pdf" class="download">Download the sealed claim form</a> (PDF, 234 KB)
</p>

<h3 class="heading-medium">Service</h3>
<p>
  Date deemed served: {{ now | date( "DD MMMM YYYY" ) }}<br />
  Served by: Post<br />
  <a href="../certificate/view">View confirmation of service</a>

</p>

<h3 class="heading-medium">Claimant </h3>
<ul>
  <li>Michael Jones</li>
</ul>

<h3 class="heading-medium">Defendants </h3>
<ul>
  <li>1. Jan Clarke trading as Clarke Construction</li>
  <li>2. Goddard Plumbing</li>
  <li>3. Kingsley Building Ltd</li>
</ul>


<h3 class="heading-medium">Documents uploaded </h3>
<ul class="downloads">
  <li><a href="#">Particulars of claim</a> (PDF, 123 KB)</li>
  <li><a href="#">Schedule of loss</a> (PDF, 123 KB)</li>
  <li><a href="#">Medical report</a> (PDF, 123 KB)</li>
</ul>

{% elseif data['claim-status'] == 3 %}

<h1 class="heading-large"><span class="heading-secondary">000LR095</span>
  Michael Jones v Jan Clark
</h1>

<h3 class="heading-medium">Date issued</h3>
<p>
  {{ now | date("subtract", 3, "months") | date( "DD MMMM YYYY" ) }}<br />
  <a target="_blank" href="/public/documents/N1-form-sealed.pdf" class="download">Download the sealed claim form</a> (PDF, 234 KB)
</p>

<h3 class="heading-medium">Service</h3>
<p>
  Date deemed served: {{ now | date("subtract", 3, "days") | date( "DD" ) }} to {{ now | date("subtract", 1, "days") | date( "DD MMMM YYYY" ) }}<br />
  <a href="../certificate/view">View confirmation of service</a>
</p>

<h3 class="heading-medium">Claimant </h3>
<ul>
  <li>Michael Jones</li>
</ul>

<h3 class="heading-medium">Defendants </h3>

<table class="">
  <thead>
  <tr>
    <th scope="col">Defendant</th>
    <th scope="col">Deemed served</th>
    <th scope="col">Served by</th>
  </tr>
  </thead>
  <tbody>
  <tr class="no-border">
    <td>1. Jan Clarke trading as Clarke Construction</td>
    <td>{{ now | date("subtract", 3, "days") | date( "DD MMM YYYY" ) }}</td>
    <td>Post</td>
  </tr>
  <tr class="no-border">
    <td>2. Goddard Plumbing</td>
    <td>{{ now | date("subtract", 3, "days") | date( "DD MMM YYYY" ) }}</td>
    <td>Post</td>
  </tr>
  <tr class="no-border">
    <td>3. Kingsley Building Ltd</td>
    <td>{{ now | date("subtract", 1, "days") | date( "DD MMM YYYY" ) }}</td>
    <td>Email</td>
  </tr>
  </tbody>
</table>

<h3 class="heading-medium">Documents uploaded </h3>
<ul class="downloads">
  <li><a href="#">Particulars of claim</a> (PDF, 123 KB)</li>
  <li><a href="#">Schedule of loss</a> (PDF, 123 KB)</li>
  <li><a href="#">Medical report</a> (PDF, 123 KB)</li>
</ul>

{% else %}

<h1 class="heading-large"><span class="heading-secondary">000LR095</span>
  Michael Jones v Jan Clark
</h1>

<h3 class="heading-medium">Date issued</h3>
<p>
  {{ now | date("subtract", 3, "months") | date( "DD MMMM YYYY" ) }}<br />
  <a target="_blank" href="/public/documents/N1-form-sealed.pdf" class="download">Download the sealed claim form</a> (PDF, 234 KB)
</p>

<h3 class="heading-medium">Serve by</h3>
<p>
  {{ now | date("add", 1, "month") | date( "DD MMMM YYYY" ) }}<br/>
  <a href='../certificate' class="button secondary-button" style="margin-top: 5px;">Tell the court you've served</a>
</p>

<h3 class="heading-medium">Claimant </h3>
<ul>
  <li>Michael Jones</li>
</ul>

<h3 class="heading-medium">Defendants </h3>
<ul>
  <li>1. Jan Clarke trading as Clarke Construction</li>
  <li>2. Goddard Plumbing</li>
  <li>3. Kingsley Building Ltd</li>
</ul>

{% endif %}

{% endblock %}

{% block side_content %}


<aside class="govuk-related-items" role="complementary"  style="margin-top: 100px">

  <h3 class="heading-small" style="margin-top:.42105em">Your reference</h3>
  <p class="font-xsmall">PW1241/KU</p>
  
</aside>

{% endblock %}


{% block body_end %}

<form method="get" action="#" class="form" >
  <select id="claim-status" name="claim-status" onchange="this.form.submit()">
    <option  value="1" {% if (data['claim-status'] == 1) or (data['claim-status']) < 0 %}selected{% endif %}>1. Issued</option>
    <option value="2" {% if data['claim-status'] == 2 %}selected{% endif %}>2. Served (single method)</option>
    <option value="3" {% if data['claim-status'] == 3 %}selected{% endif %}>3. Served (mixed method)</option>
  </select>
</form>

{% endblock %}