{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %}
{% import "prototype-sept2-2017/address.html" as address%}
{% block main_content %}

<h1 class="heading-large"><span class="form-hint">Defendant {% if defendants.length > 0 %} {{ defendants.length + 1 }} {% endif %}: {% if data['defendant_name'] %} {{ data['defendant_name'] }} {% else %} {{ data['defendant_company_name'] }} {% endif %}</span>
  <a href="defendants-service-address-other" class="secret-link">Address for service</a>
</h1>
<form action="defendants-service-address-other" method="post">

  <fieldset class="form-group">
    {{ address.lookup('defendant_service') }}
  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" id="continue-button" value="Save and continue">
  </div>
</form>

{% endblock %}
