{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Jurisdiction statement {% endblock %} {% block main_content %}

<h1 class="heading-large">Are there any pending proceedings between the parties concerning the same claim are in the courts of any other part of the United Kingdom or any other Convention territory?</h1>

<form action="jurisdiction-proceedings" id="form" method="post" class="form-group">
  <fieldset class="form-group inline">

    <div class="multiple-choice">
      <input id="proceedings-yes" name="proceedings" type="radio" value="yes">
      <label for="proceedings-yes">Yes</label>
    </div>

    <div class="multiple-choice">
      <input id="proceedings-no" name="proceedings" type="radio" value="no">
      <label for="proceedings-no">No</label>
    </div>

  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}