{% extends "prototype-sept-2017/dashboard-layout.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">
  Check your answers
</h1>


  <form method="post" action="submitted" class="form">


    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium" id="name">
              Documents
            </h2>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Documents served
          </td>
          <td>
            <ul>
              {% for document in documents %}
              <li>{{ document }}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="change-answer">
         <a href="documents">
          Change
        </a>
          </td>
        </tr>
        <tr>
          <td>
            Documents uploaded
          </td>
          <td>
            <ul>
              {% for file in files %}
              <li>{{ file }}</li>
              {% endfor %}
            </ul></td>
          <td class="change-answer">
         <a href="documents">
          Change
        </a>
          </td>
        </tr>
      </tbody>
    <table>

    {% for defendant in defendants %}
    {% if defendant.howServed %}
    <table class="check-your-answers">
      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium" id="name">
              Defendant {{ defendant.defendantNo }}
            </h2>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Name
          </td>
          <td>{{ defendant.defendantName }}</td>
          <td class="change-answer">
         <a href="documents">Change</a>
          </td>
        </tr>
        <tr>
          <td>Served by </td>
          <td>
            {{ defendant.howServed }}<br />
            At {{ defendant.destination }}</td>
          <td class="change-answer"><a href="how">Change</a></td>
        </tr>
        <tr>
          <td>Served at </td>
          <td>{{ defendant.serveDay }} {{ defendant.serveMonthWord }} {{ defendant.serveYear }} {% if defendant.serveHour %} {{ defendant.serveHour }}:{{ defendant.serveMinutes }}{{ defendant.amPM }}{% endif %}</td>
          <td class="change-answer"><a href="when">Change</a></td>
        </tr>
        <tr>
          <td>Deemed day of service </td>
          <td>{{ defendant.serveDate }}</td>
          <td class="change-answer"> </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    {% endfor %}




</table>


<div class="form-group">

  <h2 class="heading-medium">Statement of truth</h2>


  <div class="form-group">


    <a name="hasacceptedtermsandconditions"></a>

    <div class="multiple-choice text">
      <input class="" id="HasAcceptedTermsAndConditions" type="checkbox" value="true">
      <label for="HasAcceptedTermsAndConditions"> I believe that the facts stated in this form are true.</label>
    </div>


    <span class="field-validation-valid" data-valmsg-for="HasAcceptedTermsAndConditions" data-valmsg-replace="true" aria-live="polite"></span></div>

    <form method="post" action="check-and-send/enter-card" class="form">

      <button id="submit" class="button">Confirm service</button>
    </form>
  </form>


  {% endblock %}
