{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}



  <legend>

    <form method="post" action="when" class="form">

      <h1 class="heading-large">
        <span class="form-hint">Defendant {{ defendant.defendantNo }}:</span>
        {{ defendant.defendantName }}
      </h1>

      <div class="form-group">
        <h2 class="heading-medium">
          How did you serve the documents on {{ defendant.defendantFirstName }}?
        </h2>

         <div class="form-group">
           <div class="form-group">
             <div class="multiple-choice" data-target="post-address">
              <input id="post" name="how-served" type="radio" value="First class post or other next-day service">
              <label for="post">First class post or other next-day service</label>
            </div>
            <div id="post-address" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
              <p class="form-group-compound">{{ defendant.serviceAddress }}</p>

              <p>If you served to a different address, you must amend the claim before you confirm service.</p>
            </div>

            <div class="multiple-choice" data-target="deliver-address">
              <input id="delivering" name="how-served" type="radio" value="Delivered or left at a permitted place">
              <label for="delivering">Delivered or left at a permitted place</label>
            </div>
            <div id="deliver-address" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
              <p class="form-group-compound">{{ defendant.serviceAddress }}</p>

              <p>If you served to a different address, you must amend the claim before you confirm service.</p>
            </div>

            <div class="multiple-choice" data-target="handing-address">
              <input id="handed" name="how-served" type="radio" value="Personally handed to or left with with recipient">
              <label for="handed">Personally handed to or left with with recipient</label>
            </div>
            <div id="handing-address" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
               <div class="form-group">
                <label class="form-label" for="left-with">Who did you leave it with?</label>
                <input class="form-control" type="text" id="left-with" name="left-with" value="">
              </div>
              <p class="form-group-compound">{{ defendant.serviceAddress }}</p>
              <p>If you served to a different address, you must amend the claim before you confirm service.</p>
            </div>

            <div class="multiple-choice" data-target="dx-address-panel">
              <input id="dx" name="how-served" type="radio" value="Document Exchange">
              <label for="dx">Document Exchange</label>
            </div>
            <div id="dx-address-panel" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
              <label class="form-label" for="dx-address">DX address</label>
              <input class="form-control" type="text" id="dx-address" name="dx-address" value="" style="width: 75%;">
            </div>

            <div class="multiple-choice" data-target="email-address-panel">
              <input id="email" name="how-served" type="radio" value="Email">
              <label for="email">Email</label>
            </div>
            <div id="email-address-panel" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
              <label class="form-label" for="email-address">Email address</label>
              <input class="form-control" type="text" id="email-address" name="email-address" value="" style="width: 75%;">
            </div>

            <div class="multiple-choice" data-target="other-electronic-panel">
              <input id="other-electronic" name="how-served" type="radio" value="Other electronic method">
              <label for="other-electronic">Other electronic method</label>
            </div>
            <div id="other-electronic-panel" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
              <div class="form-group">
                <label class="form-label" for="other-electronic-method">Enter the method</label>
                <input class="form-control" type="text" id="other-electronic-method" name="other-electronic-method" value="" style="width: 75%;">
              </div>
              <div class="form-group">
                <label class="form-label" for="other-electronic-address">Electronic address/identifier</label>
                <input class="form-control" type="text" id="other-electronic-address" name="other-electronic-address" value="" style="width: 75%;">
              </div>
            </div>

            <div class="multiple-choice" data-target="fax-panel">
              <input id="fax" name="how-served" type="radio" value="Fax">
              <label for="fax">Fax</label>
            </div>
            <div id="fax-panel" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
              <label class="form-label" for="fax-number">Fax number</label>
              <input class="form-control" type="text" id="fax-number" name="fax-number" value="">
            </div>


            <div class="multiple-choice" data-target="other-doc-box">
              <input id="other" name="how-served" type="radio" value="other">
              <label for="other">Other</label>
            </div>
              <div class="form-group js-hidden multiple-choice" id="other-doc-box">
                <label class="form-label" for="other-doc" style="float: none;">Please specify:</label>
                <textarea class="form-control" id="other-doc" name="other-doc" cols="20" rows="4" style="width:400px; margin-left: 12px;";></textarea>
              </div>
          </div>
        </div>


      </div>



      <div class="form-group" id="destination-type">
        <h2 class="heading-medium">
          This place I served to was:
        </h2>

         <div class="multiple-choice">
          <input id="usual-res" name="destination" type="radio" value="usual residence">
          <label for="usual-res">Usual residence</label>
        </div>
         <div class="multiple-choice">
          <input id="last-res" name="destination" type="radio" value="last known residence">
          <label for="last-res">Last known residence</label>
        </div>
         <div class="multiple-choice">
          <input id="registered-office" name="destination" type="radio" value="registered office">
          <label for="registered-office">Registered office address</label>
        </div>
         <div class="multiple-choice">
          <input id="bus" name="destination" type="radio" value="place of business">
          <label for="bus">Place of business</label>
        </div>
         <div class="multiple-choice">
          <input id="princ-bus" name="destination" type="radio" value="principal place of business">
          <label for="princ-bus">Principal place of business</label>
        </div>
         <div class="multiple-choice">
          <input id="last-bus" name="destination" type="radio" value="last known place of business">
          <label for="last-bus">Last known place of business</label>
        </div>
         <div class="multiple-choice">
          <input id="last-princ" name="destination" type="radio" value="last known principal place of business">
          <label for="last-princ">Last known principal place of business</label>
        </div>
         <div class="multiple-choice">
          <input id="princ-office" name="destination" type="radio" value="principal office of the partnership">
          <label for="princ-office">Principal office (for a partnership)</label>
        </div>
         <div class="multiple-choice">
          <input id="princ-corp" name="destination" type="radio" value="principal office of the corporation">
          <label for="princ-corp">Principal office (for a corporation)</label>
        </div>
         <div class="multiple-choice">
          <input id="princ-comp" name="destination" type="radio" value="principal office of the company">
          <label for="princ-comp">Principal office (for a company)</label>
        </div>
         <div class="multiple-choice">
          <input id="jurisdiction" name="destination" type="radio" value="place of business of the partnership/company/corporation within the jurisdiction with a connection to claim">
          <label for="jurisdiction">Place of business of a partnership, company or corporation within the jurisdiction with a connection to claim</label>
        </div>

        <div class="multiple-choice" data-target="other-dest-box">
          <input id="other-dest" name="destination" type="radio" value="other">
          <label for="other-dest">Other</label>
        </div>
        <div class="form-group js-hidden multiple-choice" id="other-dest-box">
          <label class="form-label" for="other-dest-value" style="float: none;">Please specify:</label>
          <textarea class="form-control" id="other-dest-value" name="other-dest-value" cols="20" rows="4" style="width:400px; margin-left: 12px;";></textarea>
        </div>

      </div>

      <div class="form-group" >
        <input type="submit" class="button" value="Save and continue">
      </div>
    </form>



    {% endblock %}

    {% block page_scripts %}
    <script>
    $('input[name="how-served"]').change(function() {
      strHow = $('input[name="how-served"]:checked').val();
      if (strHow == 'Email' || strHow == 'Other electronic method') {
        $('#destination-type').hide();
      } else {
        $('#destination-type').show();
      }
    });
    </script>
    {% endblock %}
