{% extends "prototype-oct-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">You've confirmed service</h1>
  <br>
  <p class="claimant">Claim number: 736MC047 </p>
  <p class="claimant">Issue date: 23 August 2017 </p>
</div>
<br>

<p>
  We've sent a confirmation email to...

  <h2 class="bold-medium">Download certificates of service</h1>

<ul class="downloads certificates">
{% for defendant in defendants %}
	<li><a href="#">{{defendant.defendantName}}</a> (PDF, 123 KB)</li>
{% endfor %}
	<li><a href="#">Download all</a> (PDF, 456 KB)</li>
</ul>
<br>

<p>Download these documents again at any time by logging into the <a href='../dashboard/claim-details?claim-status=3'>Manage your claims page</a>.</p>

<div class="form-group">
  <a class="button" href="start" role="button">Issue a new claim</a>
</div>

<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}
