{% extends "prototype-dec-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">You've requested judgment</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: 000LR095 </h2>

  <p>Date submitted: {{ now | date( "DD MMMM YYYY" ) }}</p>
</div>

<p>We'll contact you in 5 days.</p>

<p><a href='../judgment/view'>Check or print the details</a> you gave us to request judgment.</p>


<h2 class="bold-medium"></h1>
<p class="download certificate">
	<a target="_blank" href="/public/documents/Judgment-order.pdf">Download judgment order</a> (PDF, 456 KB)
</p>


<p><a class="button" href="../dashboard/claim-details?claim-status=6" role="button">View this claim</a></p>

<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}
