// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/timeline';
@import 'patterns/secondary_button';
@import 'patterns/dropzone';
@import 'patterns/lists';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.form-control-large {
  height: 15em;
  width: 100%;
}

.form-control-select {
  font-family: "nta",Arial,sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  background-color: #fff;
  border: 2px solid #0b0c0c;
  padding: 5px 4px 4px;
  box-sizing: border-box;
}

.form-control-full {
  @include box-sizing(border-box);
  @include core-19;
  width: 100%;

  padding: 5px 4px 4px;
  // setting any background-color makes text invisible when changing colours to dark backgrounds in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1335476)
  // as background-color and color need to always be set together, color should not be set either
  border: 2px solid $text-colour;
}

.right {
  float: right;
}

.left {
  float: left;
}

.heading-bar {
  border-top: solid 10px #005ea5;
  padding-top: 10px;
}

.no-padding {
  padding: 0;
}

[type="text"].pound {
  background-image: url(/public/images/poundbg.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 40px
}

[type="text"].percentage {
  background-image: url(/public/images/percentage.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 40px;
}

.if-empty {
  min-height: 1px;
}

.pointer {
  cursor: pointer;
}


.list-bullet li {
  margin-left: 5rem;
}

.error-min-height {
  min-height: 25px;
}

.text-align-right {
  text-align: right;
}

textarea {
  resize: none;
}

#visa-image {
  margin-bottom: -10px;
  max-width: 110px;
}

.visa-hidden {
  visibility: hidden;
}

.accepted-image-hidden {
  visibility: hidden;
}

.card-images {
  position: relative;
}

.original-accepted {
  position: relative;
  max-width: 340px;
  margin-bottom: 0px;
  margin-top: 10px;
  z-index: 1;
}

.accepted-copy {
  position: relative;
  font-size: 16px;
  color: gray;
  margin-bottom: 0px;
  margin-top: 0px;
}

.accepted-copy-2 {
  position: relative;
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
  margin-top: 0px;
  z-index: 2;
}

.accepted-image-1 {
  max-width: 320px;
  margin-bottom: 30px;
}

.accepted-image {
  position: relative;
  max-width: 340px;
  margin-bottom: 0px;
  margin-top: 10px;
  z-index: 10;
}

.accepted-image-no-amex {
  position: relative;
  max-width: 290px;
  margin-bottom: 0px;
  margin-top: 10px;
  z-index: 10;
}

.cards-group {
  margin-bottom: 0;
}

.not-accepted {
  margin-bottom: 30px;
}

img.card-image {
  max-height: 38px;
  padding-top: 2px;
  margin-left: 15px;
  vertical-align: middle;
}

.payment-summary-small {
  border: 10px solid #DEE0E2;
  background-color: #F8F8F8;
  padding: 15px;
  margin-top: 30px;
  // position: -webkit-sticky;
}


.payment-summary-small h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 30px;
}

.payment-amount {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0px;
}


.claim-dashboard{
  td{
    vertical-align: top;
  }
  tr td:nth-child(1) {
    width: 15%;
  }
  tr td:nth-child(2) {
    width: 20%;
  }
  th:nth-child(3) {
    width: 20%;
  }
  th:nth-child(4) {
    width: 15%;
  }
  th:nth-child(5) {
    width: 30%;
  }
}


.claim-dashboard2{
  td,  th{
    vertical-align: top;
  }
  tr td:nth-child(1) {
    width: 15%;
  }
  tr td:nth-child(2) {
    width: 21%;
  }
  th:nth-child(3) {
    width: 18%;
  }
  th:nth-child(4) {
    width: 35%;
  }
  th:nth-child(5) {
    width: 12%;
  }

}


ol.tabs {
  border-bottom: 1px solid grey;
  width: 100%;
  margin-bottom: 35px;
}

.tabs li {
  display:    inline-block;
  height:     30px;
  padding:    8px 0 0 0;
  margin:     0;
  margin-right: 30px;
  text-align: center;
  font-size:  16px;
  width:      150px;
}

.tabs li.active {
  border:               1px solid grey;
  background-color:     #FFF;
  border-bottom-width:  0px;
  position:             relative;
  top:                  1px;

}

.tabs li.active a {
  text-decoration: none;
  color: #000;
}


.tabs li span.badge {
  background-color: #C30;
  border:           none;
  border-radius:    7px;;
  color:            #FFF;
  display:          inline-block;
  font-size:        10px;
  font-weight:      bold;
  height:           13px;
  width:            15px;
  padding-top:      2px;
  position:         relative;
  top:              -8px;

}

a.change {
  margin-right: 25px;
}

.check-your-answers {
  td, th{
    vertical-align: top;
  }
  tr td:nth-child(1) {
    width: 30%;
  }
  tr td:nth-child(2) {
    width: 60%;
    padding-left: 15px;
    word-break: break-all;

  }
  th:nth-child(2) {
    width: 10%;
  }
}

.check-your-answers .change-answer {
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}   

.highlight td, .no-border td {
  border-bottom: none;
} 
.claimant{
  font-weight: 700
}

.filter {
  background-image: url(/public/images/filter.png);
  background-position: right 3px;
  background-repeat: no-repeat;
  padding-right: 24px;
  background-size: 14px 19px;
  cursor: pointer;
}
#control-bar{
  border-bottom: 1px solid #bfc1c3;
  padding: 10px 0;
}
#control-bar a {
  float: left;
  padding-top: 15px;
  font-weight: 700;
}


.searchfield {
  width: 400px;
  border: 1px solid #bfc1c3;
}

.searchfield {
  position: relative;
}

.search-input {
  margin: 0;
  padding: 0 0 0 10px;
  display: block;
  height: 50px;
  border-color: #bfc1c3;
  border-right: none;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  border: none;
  width: 390px;
}

.search-submit {
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  overflow: visible;
  cursor: pointer;
  position: absolute;
  text-indent: -5000px;
  color: #fff;
  background-color: #005ea5;
  background-image: url("/public/images/search-button.png");
  background-repeat: no-repeat;
  background-position: -12.5% 50%;
  border: none;
}


.center {
  text-align: center;
}


#table-of-tasks td {
  border-bottom: 1px solid #bfc1c3;
}

.task-group {
  font-size: 30px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .task-group {
    font-size: 24px;
    font-weight: 700;
  }
}

.task {
  font-size: 19px;
  font-weight: 700;
  color: #005ea5;
}

.task-name {
  font-size: 19px;
  font-weight: 400;
  margin-left: 65px;
}

.task-disabled {
  font-size: 19px;
  font-weight: 400;
  margin-left: 65px;
}

#task-number {
  margin-right: 32px;
}

.task-name:hover {
  text-decoration: underline;
}

.task-description {
  font-size: 16px;
  font-weight: 400;
}

.task-tag {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0;
  padding: 3px 6px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #0b0c0c;
}

.task-finished {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0;
  padding: 3px 6px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #005ea5;
}

.task-name-no-margin {
  font-size: 19px;
  font-weight: 400;
}


input.postcode {
  width: 8.5em;
}

.second-text-input {
    margin-top: 15px;
}

@media (max-width: 640px) {
  .postcode {
    width: 100%;
  }
}

#enter-manually {
  margin-top: 20px;
}

#select-address {
  margin-top: 20px;
}

#abroad-address {
  display:    none;
  margin-top: 20px;
}

#manual-address.abroad .form-group:first-child .second-text-input {
  margin-top: 10px;
}

#manual-address.abroad .form-group:first-child {
  margin-bottom: 10px;
}

#manual-address.abroad #county-group {
  display:none;
}

#manual-address.abroad #town-label {
  display: none;
}

#country-group {
  display: none;
}

#manual-address.abroad #country-group {
  display: block;
}

div.form-group.form-group-hour {
  margin-right: 10px;
}

div.form-group.form-group-minutes {
  margin-right: 30px;
}

div.form-group.form-group-colon {
  width: 16px;
  margin-right: 0px;
  margin-top: 34px;
}

#am-pm {
  margin-top: 4px;
  width:      66px;
}

.claim-dashboard2 .secondary-button {
    top: -3px;
    position: relative;
}

table th {
  font-weight: 700;
}

h3.heading-medium {
  margin-bottom: 5px;
}

div.dz-error-message, div.dz-error-mark, div.dz-success-mark {
  display: none !important;
}

ul.docs li {
  list-style:           disc;
  list-style-position:  outside;
  margin-left:          20px;
}

.steps {
    padding-left: 0;
    margin-left: 0;
    overflow: hidden
}

.steps>li {
    background-position: 0 0.75em;
    background-repeat: no-repeat;
    list-style-type: decimal;
    margin-left: 0;
    padding: 0.75em 0 0.75em 2.2em
}

.steps>li:nth-child(1) {
    background-image: url(/public/images/icon-step-1.png)
}

.steps>li:nth-child(2) {
    background-image: url(/public/images/icon-step-2.png)
}

.steps>li:nth-child(3) {
    background-image: url(/public/images/icon-step-3.png)
}

.downloads li, a.download {
    background-image: url(/public/images/download-bullet.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 32px;
    background-position-y: center;
}

table a.download {
    line-height: unset;
}

.downloads.certificates li:last-child {
  margin-top: 10px;
}

p.download {
    background-image: url(/public/images/download.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    height: 40px;
    line-height: 40px;
    background-color: #DEE0E2;
    padding: 15px 15px 15px 60px;
}

#dashboard .list {
  padding-left: 0;
  margin-bottom: 30px;
}

#dashboard .list li {
  margin-left: 20px;
}

#dashboard {
  padding: 0;
}

.column-third aside.govuk-related-items {
  margin-top: 45px;
  padding-top: 15px;
}

#docs .multiple-choice input:disabled + label {
  opacity: 1;
}

#docs .multiple-choice [type=checkbox]:disabled + label::before {
  border: none;
}

#uploads h3 {
  margin-top: 45px;
}

#uploads .form-group, .uploaded-files, #submit.upload {
  display: none;
}

#uploads {
  margin-bottom: 45px;
}