{% extends "prototype-nov-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">You've confirmed service</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: 000LR095 </h2>
  <p class="form-group-compound">Issued: 23 September 2017</p>
</div>
<br>

<p>
  We've sent a confirmation email to {%if data['username'] %}{{ data['username'] }}{%else%}yourname@example.com{%endif%}

  <h2 class="bold-medium"></h1>
  <p class="download certificate">
    <a target="_blank" href="/public/documents/Certificates-of-service.pdf">Download certificate of service</a> (PDF, 456 KB)
  </p>

<p>Download this document again at any time by logging into the <a href='../dashboard'>Manage your claims page</a>.</p>

<div class="form-group">
  <a class="button" href="../start" role="button">Issue a new claim</a>
</div>

<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}
