{% extends "prototype-sept2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

    <form method="post" action="upload" class="form">

      <div class="form-group">
        <h1 class="heading-large">
          Upload your documents
        </h1>

        <p>Use this page to send the County Court the documents you've served on the defendant. We don't need the claim form or response pack.</p>

          <p>You need to have the documents on your computer.</p>

          <p>The court needs these documents in case the claim goes to a hearing or the defendant files an application.</p>

          <h2 class="heading-medium">{{document}}</h2>

          {% if uploads[document].length %}
          <h3 class="heading-small">Files uploaded</h3>
            <ol class="list uploaded-files" style="margin-bottom: 35px;">
            {% for file in uploads[document] %}
              <li class="file">{{file}} <a href="#">Remove</a></li>
            {% endfor %}
          </ol>

          <h3 class="heading-small">Upload another file</h3>
          {% endif %}
          <input type="file" name="upload" id="upload" />
          <input type="hidden" name="doc" value="{{document}}">

      </div>

      <input type="hidden" name="files" id="files"/>

      <div class="form-group" >
        <input type="submit" class="button" value="Save and continue">
      </div>
    </form>


    {% endblock %}
