{% extends "prototype-sept2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

    <form method="post" action="upload" class="form">

      <div class="form-group">
        <h1 class="heading-large">
          Upload your documents
        </h1>

        <p>Use this page to send the County Court the following documents you've served on the defendant.</p>

        <div id="uploads">

          <h3 class="heading-small">Claim form</h3>
          <p class="form-hint">Not required</p>

          <div id="poc">
            <h3 class="heading-small">Particulars of claim</h3>
            <ol class="list uploaded-files" style="margin-bottom: 15px;">
            </ol>
            
            <div class="form-group" >
              <p>
                <input type="file" />
              </p>
              <a href="#" class="button" value="Upload file" onclick="return upload('poc');">Upload file</a>
            </div>

            <a href="#" class="secondary-button" onclick="return showForm('poc');">Add file</a>
          </div>

          <h3 class="heading-small">Response pack</h3>
          <p class="form-hint">Not required</p>


          {% if documents.includes('Medical reports') %}
          <div id="meds">
            <h3 class="heading-small">Medical reports</h3>
            <ol class="list uploaded-files" style="margin-bottom: 15px;">
            </ol>

            <div class="form-group" >
              <p>
                <input type="file" />
              </p>
              <a href="#" class="button" value="Upload file" onclick="return upload('meds');">Upload file</a>
            </div>

            <a href="#" class="secondary-button" onclick="return showForm('meds');">Add file</a>
          </div>
          {% endif %}


          {% if documents.includes('Schedule of loss') %}
          <div id="sched">
            <h3 class="heading-small">{{ documents['Schedule of loss'] }}Schedule of loss{{ documents['Schedule of loss'].typeOf }}</h3>
            <ol class="list uploaded-files" style="margin-bottom: 15px;">
            </ol>

            <div class="form-group" >
              <p>
                <input type="file" />
              </p>
              <a href="#" class="button" value="Upload file" onclick="return upload('sched');">Upload file</a>
            </div>

            <a href="#" class="secondary-button" onclick="return showForm('sched');">Add file</a>
          </div>
          {% endif %}

        </div>


        <div class="form-group" >
          <input type="submit" class="button" value="Save and continue" id="submit">
        </div>


      </div>
    </form>


<style>
#uploads .form-group, .uploaded-files, #submit {
  display: none;
}
#uploads {
  margin-bottom: 45px;
}
</style>

<script>

  function showForm( docName ) {

    if ( !$('#uploads #' + docName + ' a.secondary-button').attr('disabled') ) {

      $('#uploads #' + docName + ' .form-group').show();
      $('#uploads #' + docName + ' a.secondary-button').hide();

      $('#uploads a.secondary-button').attr( 'disabled', 'disabled' );

    }
    
    return false;

  }

  function upload( docName ) {

    if ( $( $('#uploads #' + docName + ' input')[0] ).val() ) {

      $('#uploads #' + docName + ' ol').append( '<li class="file"><a href="#">' + $('#uploads #' + docName + ' input')[0].files[0].name +'</a> <a href="#" class="remove">Remove</a></li>' );
      $( $('#uploads #' + docName + ' input')[0] ).val(null); 
      $('#uploads #' + docName + ' .form-group').hide();
      $('#uploads #' + docName + ' a.secondary-button').show();
      $('#uploads a.secondary-button').removeAttr( 'disabled' );

      $('#uploads #' + docName + ' .uploaded-files').show();

      if ( $('#uploads #poc ol li').length {% if documents.includes('Medical reports') %}&& $('#uploads #meds ol li').length{% endif %}{% if documents.includes('Schedule of loss') %} && $('#uploads #sched ol li').length {% endif %}) {
        $( '#submit').show();
      }
      
    }

    return false;
  }

</script>

    {% endblock %}
