{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}



{% if data['details']=="all"  %}

<h1 class="heading-large"><span class="heading-secondary">Claim number </span>
	736MC047
</h1>
<h3 class="heading-medium">Claimant </h3>
<ul>
	<li>Michael Jones</li>
</ul>
<h3 class="heading-medium">Defendants </h3>


<table class="" >
	<thead>
		<tr>
			<th scope="col">Names</th>
			<th scope="col">Status</th>
			<th scope="col">Action </th>
		</tr>
	</thead>
	<tbody>
		<tr class="no-border">
			<td> Jan Clark</td>
			<td> Issued</td>
			<td> 
				<a href='../certificate'>File certificate of service</a>
			</td>
		</tr>
		<tr class="no-border">
			<td> Bob Goddard</td>
			<td> Issued</td>
			<td> 

			</td>
		</tr> 
		<tr class="no-border">
			<td> Chris Kingsley</td>
			<td> Issued</td>
			<td> 
			</td>
		</tr> 

		<tr  >
			<td> Victoria Williams</td>
			<td> Issued</td>
			<td> 

			</td>
		</tr> 									 
	</tbody>
</table>
{% elseif data['details']=="part" %}

<h1 class="heading-large"><span class="heading-secondary">Claim number </span>
	922MC233
</h1>
<h3 class="heading-medium">Claimants </h3>
<ul>
	<li>Trisha Scott</li>
	<li>Chris Jones</li>
	<li>Barry Scott</li>
	<li>Kate Barrett</li>
</ul>
<h3 class="heading-medium">Defendants </h3>



<table class="" >
	<thead>
		<tr>
			<th scope="col">Names</th>
			<th scope="col">Status</th>
			<th scope="col">Action </th>
		</tr>
	</thead>
	<tbody>
		<tr class="no-border">
			<td> Jan Clark</td>
			<td> Issued</td>
			<td> 
				<a href='../certificate'>File certificate of service</a>
			</td>
		</tr>
		<tr class="no-border">
			<td> Bob Goddard</td>
			<td> Issued</td>
			<td> 

			</td>
		</tr> 
		<tr >
			<td> Chris Kingsley</td>
			<td> Issued</td>
			<td> 
			</td>
		</tr> 

		<tr class="">
			<td> Jan Clark</td>
			<td> Served</td>
			<td> 
				<a href='#'>Apply for a judgment by default</a>
			</td>


		</tr> 									 
	</tbody>
</table>
{% else %}
else
{% endif %}

{% endblock %}



{% block side_content %}


<aside class="govuk-related-items" role="complementary"  style="margin-top: 100px">
	<h3 class="heading-small" id="subsection-title">Claim options </h3>
	<nav role="navigation" aria-labelledby="subsection-title">
		<ul class="font-xsmall">
			<li><a href="#">Download the sealed claim form</a> </li>
			<li><a href="#">Apply to amend the claim</a> </li>


		</ul>
	</nav>
</aside>
{% endblock %}
