{% extends "prototype-mar-2018/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large"><span class="heading-secondary">Defendant 2</span>
  Goddard Plumbing
</h1>


<h2 class="heading-medium">Address</h2>
<p>
  482 Clements Road<br />
  Ilford<br />
  IG1 2BE 
</p>

<h2 class="heading-medium">Service address</h2>
<p>
  Smith &amp; Co Law<br/>
  31 Tangley Lane<br />
  Guildford<br />
  GU3 3JU
</p>


<p style="margin-top: 50px;">
  <a href='../discontinue' class="button secondary-button" style="margin-top: 0;">Discontinue this defendant</a>
</p>

{% endblock %}

{% block side_content %}

<aside class="govuk-related-items" role="complementary"  style="margin-top: 100px">

  <h3 class="heading-small" style="margin-top:.42105em">Your reference</h3>
  <p class="font-xsmall">PW1241/KU</p>
</aside>

{% endblock %}
