{% extends "prototype-mar-2018/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

    <h1 class="heading-large">
        <span class="form-hint">Defendant 2: Jan Clarke</span>
        What do you want to do?
    </h1>
    
    <form action="upload-admission" method="post">

      <fieldset class="form-group">

        <div class="multiple-choice">
            <input id="admit" name="response" type="radio" value="Admission">
            <label for="admit">Admit all of the claim</label>
        </div>
        <div class="multiple-choice">
            <input id="admit-part" name="response" type="radio" value="Partial admission">
            <label for="admit-part">Admit part of the claim</label>
        </div>

      </fieldset>

      <div class="form-group">
        <input type="submit" class="button" value="Save and continue">
      </div>

    </form>

{% endblock %}