{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}




    <form method="post" action="where" class="form">

      <h1 class="heading-large">
        <span class="form-hint">Defendant {{ defendant.defendantNo }}:</span>
        {{ defendant.defendantName }}
      </h1>

      <div class="form-group">
        <h2 class="heading-medium">
          How did you serve the documents on {% if defendant.defendantType == 'individual' %} {{ defendant.defendantFirstName }}{%else%}{{ defendant.defendantName }}{% endif %}?
        </h2>

         <div class="form-group">
           <div class="form-group">
             <div class="multiple-choice">
              <input id="post" name="how-served" type="radio" value="First class post or other next-day service">
              <label for="post">First class post or other next-day service</label>
            </div>

            <div class="multiple-choice">
              <input id="delivering" name="how-served" type="radio" value="Delivered or left at a permitted place">
              <label for="delivering">Delivered or left at a permitted place</label>
            </div>

            <div class="multiple-choice">
              <input id="handed" name="how-served" type="radio" value="Personally handed to or left with recipient">
              <label for="handed">Personally handed to or left with recipient</label>
            </div>

            <div class="multiple-choice" data-target="dx-address-panel">
              <input id="dx" name="how-served" type="radio" value="Document Exchange">
              <label for="dx">Document Exchange</label>
            </div>

            <div class="multiple-choice" data-target="fax-panel">
              <input id="fax" name="how-served" type="radio" value="Fax">
              <label for="fax">Fax</label>
            </div>

            <div class="multiple-choice" data-target="email-address-panel">
              <input id="email" name="how-served" type="radio" value="Email">
              <label for="email">Email</label>
            </div>

            <div class="multiple-choice" data-target="other-electronic-panel">
              <input id="other-electronic" name="how-served" type="radio" value="Other electronic method">
              <label for="other-electronic">Other electronic method</label>
            </div>
            <div id="other-electronic-panel" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
              <div class="form-group">
                <label class="form-label" for="other-electronic-method">Enter the method</label>
                <input class="form-control" type="text" id="other-electronic-method" name="other-electronic-method" value="" style="width: 75%;">
              </div>
            </div>

            <div class="multiple-choice" data-target="other-doc-box">
              <input id="other" name="how-served" type="radio" value="other">
              <label for="other">Other</label>
            </div>
              <div class="form-group js-hidden multiple-choice" id="other-doc-box">
                <label class="form-label" for="other-doc" style="float: none;">Please specify:</label>
                <textarea class="form-control" id="other-doc" name="other-doc" cols="20" rows="4" style="width:400px; margin-left: 12px;";></textarea>
              </div>
          </div>
        </div>


      </div>


      <div class="form-group" >
        <input type="submit" class="button" value="Save and continue">
      </div>
    </form>


    {% endblock %}
