{% extends "prototype-sept2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}




    <form method="post" action="when" class="form">

      <h1 class="heading-large">
        <span class="form-hint">Defendant {{ defendant.defendantNo }}:</span>
        {{ defendant.defendantName }}
      </h1>

      <div class="form-group">
        <h2 class="heading-medium">
          Did you
          {% if defendant.howServed == 'First class post or other next-day service' %}post the documents to
          {% elseif defendant.howServed == 'Delivered or left at a permitted place' %}deliver the documents to
          {% elseif defendant.howServed == 'Personally handed to or left with recipient' %}leave the documents with
          {% elseif defendant.howServed == 'Document Exchange' %}DX the documents to
          {% elseif defendant.howServed == 'Fax' %}fax the documents to
          {% elseif defendant.howServed == 'Email' %}email the documents to
          {% else %}send the documents to
          {% endif %}
           {% if defendant.defendantType == 'individual' %} {{ defendant.defendantFirstName }}{%else%}{{ defendant.defendantName }}{% endif %} today?
        </h2>

       <div class="form-group">
         <div class="multiple-choice">
          <input id="today-yes" name="served-today" type="radio" value="yes" onclick="$('#day').val( objDateToday.getDate() ); updateServiceDate();">
          <label for="today-yes">Yes</label>
        </div>

       <div class="form-group">
         <div class="multiple-choice" data-target="when-served">
          <input id="today-no" name="served-today" type="radio" value="no" onclick="$('#day').val( '' ); updateServiceDate(); $('#day').focus();">
          <label for="today-no">No</label>
         </div>
        </div>

        <div class="form-group js-hidden" id="when-served">
          <h2 class="heading-medium">When did you serve?</h2>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label for="day">Day</label>
              <input  class="form-control" name="day" id="day" type="number" pattern="[0-9]*" min="0" max="31" value="">
            </div>
            <div class="form-group form-group-month">
              <label for="month">Month</label>
              <input class="form-control" name="month" id="month" type="number" pattern="[0-9]*" min="0" max="12" value="">
            </div>
            <div class="form-group form-group-year">
              <label for="year">Year</label>
              <input class="form-control" name="year" id="year" type="number" pattern="[0-9]*" min="0" max="2018" value="">
            </div>
          </div>
        </div>

        {% if blnShowTime %}
        <div class="form-group">
          <h2 class="heading-medium">At what time?</h2>
          <p class="form-hint">For example, 3:24 PM</p>

          <div class="form-date">
            <div class="form-group form-group-hour">
              <label for="hour">Hour</label>
              <input class="form-control" name="hour" id="hour" type="number" pattern="[0-9]*" min="0" max="12" value="">
            </div>
            <div class="form-group form-group-colon">
              :
            </div>
            <div class="form-group form-group-minutes">
              <label for="minutes">Minutes</label>
              <input class="form-control" name="minutes" id="minutes" type="number" pattern="[0-9]*" min="0" max="60" value="">
            </div>
            <div class="form-group form-group-am-pm">
              <label for="am-pm">AM/PM</label>
              <select class="form-control" name="am-pm" id="am-pm" onchange="updateServiceDate();">
                  <option></option>
                  <option>AM</option>
                  <option>PM</option>
              </select>
            </div>
          </div>
        </div>
        {% endif %}

      <div id="service-block" class="js-hidden">
        <p class="heading-medium">
          Deemed date of service
        </p>
        <p id="service-value"></p>
        <input type="hidden" id="service-value-field" name="service-value-field" />
      </div>

      <div class="form-group" >
        <input type="submit" class="button" value="Save and continue">
      </div>
    </form>


    {% endblock %}


    {% block page_scripts %}
    <script>

      var objDateToday;

      $(document).ready(function () {

        objDateToday = new Date();
        $('#year').val( objDateToday.getFullYear());

        if ( objDateToday.getDate() > 4 ) {
          $('#month').val( objDateToday.getMonth() + 1);
        }

        $(' form input').on('keyup', updateServiceDate);

      });

      function updateServiceDate() {


        if ( $('#day').val() && (!$('#am-pm').length || ( $('#am-pm').length && $('#am-pm').val() ) ) ) {

            var objDate = new Date( $('#year').val(), $('#month').val()-1, $('#day').val() );

            {% if howServed == 'First class post or other next-day service' %}
              objDate.setDate(objDate.getDate() + 2);
            {% endif %}

            {% if blnShowTime %}

              if ( $('#minutes').val() && $('#hour').val() ) {
                intHours = $('#hour').val();

                if ( $('#am-pm').val() == 'PM') {
                  intHours = parseInt( intHours ) + 12;
                }
                objDate.setHours( intHours );
                objDate.setMinutes( $('#minutes').val() );

                objDateAfternoon = new Date( $('#year').val(), $('#month').val()-1, $('#day').val(), 16 );
                if ( objDate >= objDateAfternoon ) {
                  objDate.setDate( objDate.getDate() + 1 );
                }

              }
            {% endif %}

            arrMonths = [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ];
            strMonth = arrMonths[objDate.getMonth()];
            strDate = objDate.getDate() + ' ' + strMonth + ' ' + objDate.getFullYear()
            $('#service-block').removeClass('js-hidden');
        } else {
            strDate = '';
            $('#service-block').addClass('js-hidden');
        }

        $('#service-value').html( strDate );
        $('#service-value-field').val( strDate );

      }


    </script>
    {% endblock %}
