.secondary-button {
  background-color: #bfc1c3;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #989b9e;
  -moz-box-shadow: 0 2px 0 #989b9e;
  box-shadow: 0 2px 0 #989b9e;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
  vertical-align: top;
}

.secondary-button:visited {
  background-color: #bfc1c3;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: #b2b4b7;
}

.secondary-button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #bfc1c3;
  -moz-box-shadow: 0 0 0 #bfc1c3;
  box-shadow: 0 0 0 #bfc1c3;
}

.secondary-button.disabled, .secondary-button[disabled="disabled"], .secondary-button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.secondary-button.disabled:hover, .secondary-button[disabled="disabled"]:hover, .secondary-button[disabled]:hover {
  cursor: default;
  background-color: #bfc1c3;
}

.secondary-button.disabled:active, .secondary-button[disabled="disabled"]:active, .secondary-button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #989b9e;
  -moz-box-shadow: 0 2px 0 #989b9e;
  box-shadow: 0 2px 0 #989b9e;
}

.secondary-button:link, .secondary-button:hover, .secondary-button:focus, .secondary-button:visited {
  color: #0b0c0c;
}

.secondary-button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.secondary-button:active:before {
  top: -10%;
  height: 120%;
}

.secondary-button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 640px) {
  .secondary-button {
    width: 100%;
  }
}

.secondary-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.secondary-button:focus {
  outline: 3px solid #ffbf47;
}