{% extends "prototype-dec-2017/index-full-width.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">
  Check your response
</h1>

<form method="post" action="submitted" class="form">

  <h2 class="heading-medium">Organisation details</h2>

  <table class="check-your-answers">
    <tr>
      <td>Name</td>
      <td>{% if data['rep_company_name'] %} {{ data['rep_company_name'] }} {% endif %}</td>
      <td class="change-answer">
        <a href="representative-name">Change</a>
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
        {% if data['rep_AddressLine1'] %} {{ data['rep_AddressLine1'] }}, {% endif %}
        {% if data['rep_AddressLine2'] %} {{ data['rep_AddressLine2'] }},{% endif %}
        {% if data['rep_city'] %} {{ data['rep_city'] }}, {% endif %}
        {% if data['rep_Postcode'] %} {{ data['rep_Postcode'] }} {% endif %}
      </td>
      <td class="change-answer">
        <a href="representative-address">Change</a>
      </td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td>{% if data['rep_phone_number'] %} {{ data['rep_phone_number'] }} {% endif %}</td>
      <td class="change-answer">
        <a href="representative-contact">Change</a>
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{% if data['rep_email'] %} {{ data['rep_email'] }} {% endif %}</td>
      <td class="change-answer">
        <a href="representative-contact">Change</a>
      </td>
    </tr>
    <tr>
      <td>DX address</td>
      <td>{% if data['rep_dx_number'] %} {{ data['rep_dx_number'] }} {% endif %}</td>
      <td class="change-answer">
        <a href="representative-contact">Change</a>
      </td>
    </tr>

  </table>


  <h2 class="heading-medium">Response details</h2>


  <table class="check-your-answers">
    <tr>
      <td>Claim number</td>
      <td>000LR095</td>
      <td class="change-answer"></td>
    </tr>
    <tr>
      <td>Your reference</td>
      <td>{{ data['your-ref'] }}</td>
      <td class="change-answer">
        <a href="your-reference">Change</a>
      </td>
    </tr>
    <tr>
      <td>Defendant's reference</td>
      <td>{{ data['defendant-ref'] }}</td>
      <td class="change-answer">
        <a href="your-reference">Change</a>
      </td>
    </tr>
    <tr>
      <td>Defendant's name</td>
      <td>{{ data['name'] }}</td>
      <td class="change-answer">
        <a href="name">Change</a>
      </td>
    </tr>
    <tr>
      <td>Defendant's date of birth</td>
      <td>{{ data['dob'] }}</td>
      <td class="change-answer">
        <a href="dob">Change</a>
      </td>
    </tr>
    <tr>
      <td>Response</td>
      <td>
        {% if data['uploaded-file'] %}<a href="">{{ data['uploaded-file'] }}</a>{% endif %}
      </td>
      <td class="change-answer">
        <a href="defence">Change</a>
      </td>
    </tr>
    <tr>
      <td>Statement of truth</td>
      <td>
        {% if data['sot'] == 'yes' %}
        Included in response document
        {% else %}
        Robert Johnson<br />
        Smith & Law Solicitors<br />
        Solicitor<br />
        {{ now | date( "DD MMMM YYYY" ) }}
        {% endif %}
      </td>
      <td class="change-answer">
        <a href="defence">Change</a>
      </td>
    </tr>
  </table>


  <div class="form-group column-two-thirds" style="padding-left: 0; margin-top: 30px;">
    <button id="submit" class="button">Submit response</button>
  </div>

</form>

{% endblock %}
