{% extends "prototype-sept2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

    <form method="post" action="check-your-answers" class="form">

      <h1 class="heading-large">
        <span class="form-hint">Defendant: Jan Clark</span>
        <span id="sub">Upload your defence</span>
      </h1>

      <div id="uploads">

        <p>We accept files sized no larger than 10MB in these formats: pdf, doc, docx, jpg, jpeg, xls, xlsx, png.</p>

        <div id="defence">
          <ol class="list uploaded-files" style="margin-bottom: 15px;">
          </ol>

          <div class="form-group" >
            <p>
              <input type="file" />
            </p>
            <a href="#" class="button" value="Upload file" onclick="return upload('defence');">Upload file</a>
          </div>

          <a href="#" class="secondary-button" onclick="return showForm('defence');">Add file</a>
        </div>

      </div>

      <div class="form-group" >
        <input type="submit" class="button upload" value="Save and continue" id="submit">
      </div>



    </form>


    {% endblock %}
