{% extends "prototype-july2-2017/index-full-width.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">
  Review my details
</h1>


  <table class="check-your-answers">
    <tr>
      <td>Organisation name</td>
      <td>Smith &amp; Co Solicitors LLP</td>
      <td class="change-answer"><a href="name">Change</a></td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
          57 Old Farm Road<br />
          Guildford<br />
          Surrey<br />
          GU1 1QP
      </td>
      <td class="change-answer"><a href="name">Change</a></td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td>01483 648947</td>
      <td class="change-answer"><a href="name">Change</a></td>
    </tr>
    <tr>
      <td>Email address</td>
      <td>admin@smiths.co.uk</td>
      <td class="change-answer"><a href="name">Change</a></td>
    </tr>
    <tr>
      <td>DX address</td>
      <td>Guildford 12452</td>
      <td class="change-answer"><a href="name">Change</a></td>
    </tr>
  </table>

{% endblock %}
