{% extends "prototype-sept2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large" style="font-size: 42px"><span class="heading-secondary">000LR095</span>
  Tim Jones v Goddard Plumbing
</h1>

<h2 class="heading-large">
  <span class="form-hint">Defendant 2:</span>
  Jan Clark
</h2>

<h3 class="heading-medium">Date issued</h3>
<p>{{ now | date("subtract", 3, "months") | date( "DD MMMM YYYY" ) }}</p>


<h3 class="heading-medium">Service details</h3>
<p>
  Date deemed served: {{ now | date("subtract", 10, "days") | date( "DD MMMM YYYY" ) }}<br />
  Served by: Post
</p>

<h3 class="heading-medium">Respond by</h3>

{% if data['claim-status'] < 3 %}
<p>
  {{ now | date("add", 4, "days") | date( "DD MMMM YYYY" ) }}
</p>

{% elseif data['claim-status'] == 2 %}
<p>
  <a href='../acknowledgement/representative-name' class="button secondary-button" style="margin-top: 5px;">Acknowledge service</a>
</p>
{% elseif data['claim-status'] == 3 %}
<p>
  Response deadline: {{ now | date("add", 4, "days") | date( "DD MMMM YYYY" ) }}<br />
  Service acknowledged on: {{ now | date( "DD MMMM YYYY" ) }}
</p>
{% elseif data['claim-status'] == 4 %}
<p>
  Date responded: {{ now | date( "DD MMMM YYYY" ) }}<br />
  <a href="view">View defence</a>
</p>
{% endif %}

{% if data['claim-status'] != 4 %}
<p>
  <a href='representative-name' class="button secondary-button" style="margin-top: 5px;">Respond to claim</a>
</p>
{% endif %}

<h3 class="heading-medium">Claimant </h3>
<ul>
  <li>Tim Jones</li>
</ul>

<h3 class="heading-medium">Defendants </h3>
<ul>
  <li>1. Goddard Plumbing</li>
  <li>2. Jan Clarke</li>
  <li>3. Kingsley Building Ltd</li>
</ul>


<h3 class="heading-medium">Documents uploaded by claimant</h3>
<ul class="downloads">
  <li><a href="#">Particulars of claim</a> (PDF, 123 KB)</li>
  <li><a href="#">Schedule of loss</a> (PDF, 123 KB)</li>
  <li><a href="#">Medical report</a> (PDF, 123 KB)</li>
</ul>

{% endblock %}

{% block side_content %}


<aside class="govuk-related-items" role="complementary"  style="margin-top: 100px">

  <h3 class="heading-small" style="margin-top:.42105em">Claimant's reference</h3>
  <p class="font-xsmall">PW1241/KU</p>

  <p><a target="_blank" href="/public/documents/N1-form-sealed.pdf" class="download">Download the sealed claim form</a> </p>
  {% if data['claim-status'] == 3 %}
  <p><a target="_blank" href="/public/documents/Certificates-of-service.pdf" class="download">Download certificate of service</a> </p>
  {% endif %}

  <!--
    <h3 class="heading-small" id="subsection-title">Claim options </h3>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="font-xsmall">
        <li><a href="#">Download the sealed claim form</a> </li>
        <li><a href="#">Apply to amend the claim</a> </li>
      </ul>
    </nav>
  -->
</aside>

{% endblock %}


{% block body_end %}

<form method="get" action="#" class="form" >
  <select id="claim-status" name="claim-status" onchange="this.form.submit()">
    <option  value="1" {% if (data['claim-status'] == 1) or (data['claim-status']) < 0 %}selected{% endif %}>1. Served (no AoS)</option>
    <option  value="2" {% if (data['claim-status'] == 2) %}selected{% endif %}>2. Served (with AoS)</option>
    <option value="3" {% if data['claim-status'] == 3 %}selected{% endif %}>3. Acknowledged</option>
    <option value="4" {% if data['claim-status'] == 4 %}selected{% endif %}>4. Responded</option>
  </select>
</form>

{% endblock %}
