{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">Certificate of service accepted</h1>
  <br>
  <p class="claimant">Claim number: 736MC047 </p>
  <p class="claimant">Date of issue: 23 August 2017 </p>

</div>
<p>
  We've sent a confirmation email to...
<br>
<p>You can <a href='../dashboard'>manage more claims</a> or issue a new claim.</p>


<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}
