{% extends "prototype-july-2017/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Briefly describe the claim</h1>

<p>Tell us:

  <ul class="list list-bullet">
    <li>the nature of the claim</li>
    <li>what you expect to recover, for example payment of money</li>
  </ul>

<p>You don't need to include particulars of claim here - serve them on the defendant when you get your sealed claim form.</p>

<form action="claim-amount" method="post">
  <div class="form-group">
    <textarea class="form-control form-control-large" id="claim_details" rows="3" name="claim_details" type="text">{{ data['claim_details'] }}</textarea>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
