{% extends "prototype-july-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Type of claim</h1>
<form action="type-of-claim" id="form" method="post" class="form-group">
  <fieldset class="form-group">
    <legend class="visually-hidden">Type of claim</legend>

    <div class="multiple-choice">
      <input id="company" name="typeOfClaim" type="radio" value="specified" {{ checked('typeOfClaim','specified') }}>
      <label for="company">Specified (you're claiming a fixed amount of money)</label>
    </div>

    <div class="multiple-choice">
      <input id="individual" name="typeOfClaim" type="radio" value="unspecified" {{ checked('typeOfClaim','unspecified') }}>
      <label for="individual">Unspecified (you don't know the exact amount you're claiming)</label>
    </div>

  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>
{% endblock %}
