{% extends "prototype-jan-2018/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

	<h1 class="heading-large">
		Add notes for the claimant
  </h1>

  <p class="form-hint">Optional</p>

	<div class="form-group">
	
    <form action="submitted" method="post">

      <div class="form-group">
        <textarea class="form-control form-control-medium" id="extension-notes" rows="3" name="extension-notes" type="text"></textarea>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Request extension">
      </div>

    </form>

  </div>

  {% endblock %}