{% extends "prototype-nov2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">You've acknowledged service</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: 000LR095 </h2>
  <p class="form-group-compound">New response deadline: 9 November 2017</p>
</div>
<br>

<p>
You now have an extra 14 days to respond.
</p>

<p>We've sent a confirmation email to {%if data['username'] %}{{ data['username'] }}{%else%}yourname@example.com{%endif%}</p>

<p class="download certificate">
  <a target="_blank" href="/public/documents/Acknowledgement-of-service.pdf">Download acknowledgment of service form</a> (PDF, 123 KB)
</p>

<p>Download this document again at any time by logging into the <a href='../dashboard'>Manage your claims page</a>.</p>

<div class="form-group">
  <a class="button" href="../respondent/claim-details?claim-status=2" role="button">View this claim</a>
</div>

<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}