{% extends "prototype-nov2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">You've acknowledged service</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: 000LR095 </h2>
  <p class="form-group-compound">New response deadline: {{ now | date("add", 14, "days") | date( "DD MMMM YYYY" ) }}</p>
</div>

<p>You now have an extra 14 days to respond.</p>

<p>You can view or print your submission from the <a href='../respondent/claim-details?claim-status=3'>claim details</a> page.</p>

<p><a class="button" href="../respondent/claim-details?claim-status=3" role="button">View this claim</a></p>

<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}