{% extends "prototype-july2-2017/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}



<h1 class="heading-large" >
 Continue your claim
</h1>


      <table id="table-of-tasks">
        <thead>
        <tr>
          <th scope="col" id="col-task">
          <span class="task-group">
            <span class="group-number" id="task-number">1.</span>
              Prepare your claim
          </span>
          </th>
          <th class="numeric" id="task-status" scope="col" id="col-status"></th>
        </tr>
        </thead>
        <tbody>
         <tr id="completing-your-claim">
          <td class="task">
            <a href="task-list/completing-your-claim">
              <span class="task-name"> Completing your claim</span>
            </a>
          </td>
          <td class="numeric" id="task-status" scope="col" id="col-status">
            
          </td>
        </tr>
        <tr id="your-details">
          <td class="task">
            <a href="task-list/your-details">
              <span class="task-name"> Your details</span>
            </a>
          </td>
          <td class="numeric" id="task-status" scope="col" id="col-status">
            
          </td>
        </tr>
        <tr id="their-details">
          <td class="task">
            <a href="task-list/their-details">
              <span class="task-name"> Their details</span>
            </a>
          </td>
          <td class="numeric" id="task-status" scope="col" id="col-status">
            
          </td>
        </tr>
        <tr id="claim-amount">
          <td class="task">
            <a href="task-list/claim-amount">
              <span class="task-name"> Claim amount</span>
            </a>
          </td>
          <td class="numeric" id="task-status" scope="col" id="col-status">
            
          </td>
        </tr>
        <tr id="claim-details">
          <td class="task">
            <a href="task-list/claim-details ">
              <span class="task-name"> Claim details</span>
            </a>
          </td>
          <td class="numeric" id="task-status" scope="col" id="col-status">
            
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <br>
      <table id="table-of-tasks">
        <thead>
        <tr>
          <th scope="col" id="col-task">
          <span class="task-group">
            <span class="group-number" id="task-number">2.</span>
              Submit
          </span>
          </th>
          <th class="numeric" id="task-status" scope="col" id="col-status"></th>
        </tr>
        </thead>
        <tbody>
    
        <tr id="check-and-send">
      
          <td >
            <span class="task-disabled"> Check and submit your claim</span>
          </td>
          
          <td class="numeric" id="task-status" scope="col" id="col-status">
            
          </td>
        </tr>

        </tbody>
      </table>

{% endblock %}
