<html><head><title>Civil Money Issue</title></head>

<body style="background-color:#dee0e2;margin:0;padding:0">
<style type="text/css">
  li {
    font-size: 19px;
    line-height: 26px
  }
  p{
    line-height: 19px
  }
</style>
<div  style="background-color:#dee0e2;margin:0;overflow:hidden">
  <table cellspacing="0" cellpadding="0" style="margin:30px auto;min-width:600px">


    <tbody><tr id="m_-3382758564384040085header">
      <td style="font-family:Helvetica,Arial,sans-serif">
        <table width="100%" cellspacing="0" cellpadding="0" style="background:#000000">
          <tbody><tr>
            <td width="30" style="font-family:Helvetica,Arial,sans-serif;padding:4px 0;border-bottom:solid 10px #005ea5">
              <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" style="font-size:30px;font-weight:bold;text-decoration:none;color:#ffffff" target="_blank">
              </a>
            </td>
            <td style="font-family:Helvetica,Arial,sans-serif;padding:4px 0;border-bottom:solid 10px #005ea5">
              <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" style="font-size:30px;font-weight:bold;text-decoration:none;color:#ffffff" target="_blank" >GOV.UK</a>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>

    <tr >
      <td style="font-family:Helvetica,Arial,sans-serif">
        <table width="100%" cellspacing="0" cellpadding="0" style="background:#ffffff">
          <tbody><tr>
            <td width="34" style="font-family:Helvetica,Arial,sans-serif;padding:10px 0;font-size:18px;border-bottom:solid 1px #808080">
              <img src="https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px_x2-3eb6258ba699c8ae2c3cf370e8a4422f37bdae95ae084a99115841a8bf0543a7.png" height="26" style="border-left: solid 2px #000;padding-left:6px;margin:5px 6px 0 20px;" class="CToWUd">
            </td>
            <td style="font-family:Helvetica,Arial,sans-serif;padding:10px 0;font-size:18px;border-bottom:solid 1px #808080">HM Courts & Tribunals Service</td>
          </tr>
          </tbody></table>
      </td>
    </tr>

    <tr >
      <td style="font-family:Helvetica,Arial,sans-serif">
        <table width="100%" cellspacing="0" cellpadding="0" style="background:#ffffff">
          <tbody><tr>
            <td style="font-family:Helvetica,Arial,sans-serif;padding:25px 20px 20px">

              <p style="margin:0 0 40px;font-size:19px">Dear {{ data['rep_company_name'] }}.</p>
              <p  class="dynamic-content default-content" style="font-size:19px; margin:0 0 40px;">Claim D99YJ987 was issued on {{ issueDate }}. You paid a fee of £{{ issueFeeamount }}.</p>

              <p class="dynamic-content default-content" style="font-size:19px; font-weight: 700">Follow these steps to serve a claim:</p>

              <ol>
                <li>Send the sealed claim form, particulars of claim and a response pack to the defendant within 4 months of the date of issue.</li>
                <li>Send the court a certificate of service and a copy of any documents you served on the defendant, within 21 days.</li>
              </ol>

              <p><a href="https://hmctsformfinder.justice.gov.uk/HMCTS/FormFinder.do">Use the form finder</a> to download a response pack and certificate of service. </p>

              <p style="margin:40px 0 30px;font-size:16px"><strong>HM Courts & Tribunals Service</strong><br>
                Email: moneyclaims@hmcts.gsi.gov.uk<br>
                Telephone: 0300 123 7050<br>
                Textphone: 0300 123 1058<br><br>
                Monday to Friday, 9am to 6pm<br>
                Find out about call charges - https://www.gov.uk/call-charges
                <br>

              </p>

            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>

    <tr >
      <td style="font-family:Helvetica,Arial,sans-serif">
        <table width="600px" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td style="font-family:Helvetica,Arial,sans-serif;padding:25px 20px 20px">
              <p  class="dynamic-content default-content" style="font-size:16px;">If you're unsure an email is from the HM Courts & Tribunals Service:.</p>
              <ol>
                <li style="font-size:16px; ">Do not reply to it or click on any links</li>
                <li style="font-size:16px; ">Report the suspicious email to the HM Courts & Tribunals Service - to find out how to report internet scams and phishing visit:<br> https://www.gov.uk/report-suspicious-emails-websites-phishing.</li>

              </ol>

            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="/public/javascripts/govuk-template.js?0.18.3"></script>

<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/application.js"></script>
</body>