{% extends "prototype-MVP-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">Your claim has been issued</h1>
  <br>
  <h2 class="bold-medium">Claim number: D99YJ987</h2>
  <p>{{ today }}</p>
  <p>Fee paid: {{ amount }}</p>
</div>

<!--  If there is no email address, append the text: We've sent confirmation to the address you provided earlier
-->

<p>We've emailed confirmation to:
  <span class="bold-small">{{ data['rep_email'] }}</span>
</p>

<h2 class="bold-medium">Follow these steps to serve a claim:</h2>

<ol class="form-group" type="1">
  <li>1. <a target="_blank" href="/public/documents/N1-form-sealed.pdf">Download the sealed claim form</a> (this will open in a new window)</li>
  <li>2. Send it to the defendant within 4 months of the date of issue.</li>
  <li>3. Include particulars of claim with the sealed claim form.</li>
  <li>4. Send a certificate of service and the particulars to the court within 21 days from the date you served.</li>
</ol>

<br>

<h2 class="bold-small">Court address:</h2>
<div class="panel panel-border-narrow">
  <p class="form-group-compound">County Court Money Claims Centre (CCMCC)</p>
  <p class="form-group-compound">Salford</p>
  <p class="form-group-compound">Greater Manchester</p>
  <p class="form-group">M5 0BY</p>
  <p class="form-group-compound"><span class="bold">DX:</span> 702634 Salford 5</p>
</div>



<a class="button" href="start" role="button">Finish</a>  {% endblock %}
