{% extends "prototype-MVP-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Do you want to add another defendant?</h1>
<form action="defendant-add" id="form" method="post" class="form-group">
  <fieldset class="form-group inline {% for error in errors %}{% if error.fieldName == 'addDefendant' %} form-group-error {% endif %}{% endfor %}">
    <legend class="visually-hidden">Do you want to add another defendant?</legend>
    <p>You can add up to 4 defendants in this service.</p>

    {% for error in errors %}
      {% if error.fieldName == 'addDefendant' %}<span class="error-message">{{ error.message }}</span>{% endif %}
    {% endfor %}
    <div class="multiple-choice" data-target="add-defendant-yes">
      <input id="company" name="addDefendant" type="radio" value="yes" {{ checked('addDefendant','yes') }}>
      <label for="company">Yes</label>
    </div>

    <div class="multiple-choice">
      <input id="individual" name="addDefendant" type="radio" value="no" {{ checked('addDefendant','no') }}>
      <label for="individual">No</label>
    </div>

  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

<form>
{% if defendants.length > 1 %}
  <h1 class="heading-medium">
    Already added
  </h1>
  <div class="column-full">
    <div class="column-one-quarter bold">No.</div>
    <div class="column-half bold">Defendant name</div>
    <div class="column-one-quarter bold">Action</div>
  </div>
  <hr class="column-full">
  {% for defendant in defendants %}
  <div class="column-full">
      <div class="column-one-quarter">{{ defendant.defendantNo}}</div>
    <div class="column-half">{{ defendant.defendantName }}</div>
    <div class="column-one-quarter"><a class="link" onclick="delete_item(this)">Remove</a></div>
    <hr class="column-full">
  </div>

  {% endfor %}
{% endif %}


</form>

<script type='text/javascript'>
    function delete_item(el) {
        el.parentNode.parentNode.parentNode.removeChild(el.parentNode.parentNode);
    }

</script>
{% endblock %}
