{% extends "prototype-MVP-2017/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %}

{% block main_content %}
<h1 class="heading-large">Login</h1>

<form action="login" method="post">
  <div class="form-group {% if errors %} form-group-error {% endif %}">
    <label class="form-label" for="username">Username</label>
    {% if errors %}
      <span class="error-message">{{ errors[0].message }}</span>
    {% endif %}
    <input type="text" class="form-control" id="username" name="username" value="{{ data['username'] }}">
  </div>
  <div class="form-group">
    <label class="form-label" for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" value="{{ data['password'] }}">
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>


{% endblock %}
