{% extends "prototype-MVP-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}
<h1 class="heading-large">Choose court location</h1>

<p>This should be your preferred County Court hearing centre.</p>

<form action="preferred-court" method="post">
  <div class="form-group {% for error in errors %}{% if error.fieldName == 'county_court' %} form-group-error {% endif %}{% endfor %}">
    <label for="county_court" class="form-label"><span class="form-hint">Optional</span></label>
    {% for error in errors %}
      {% if error.fieldName == 'county_court' %}<span class="error-message">{{ error.message }}</span>{% endif %}
    {% endfor %}
    <input id="county_court" name="county_court" type="text" class="form-control" value="{{ data['county_court'] }}">
  </div>

  <div class="form-group">
    <a target="_blank" href="https://courttribunalfinder.service.gov.uk/search/postcode?aol=Money+claims&spoe=nearest">Find a hearing centre</a>(this will open in a new window)
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
