{% extends "prototype-MVP-2017/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Your organisation contact details</h1>

<p>The defendant can use these to contact you.</p>

<form action="representative-contact" method="post">
  <div class="form-group {% for error in errors %}{% if error.fieldName == 'rep_phone_number' %} form-group-error {% endif %}{% endfor %}">
    <label class="form-label" for="rep_phone_number">Phone number (optional)</label>
    {% for error in errors %}
      {% if error.fieldName == 'rep_phone_number' %}<span class="error-message">{{ error.message }}</span>{% endif %}
    {% endfor %}
    <input type="text" class="form-control" id="rep_phone_number" name="rep_phone_number" value="{{ data['rep_phone_number'] }}">
  </div>

  <div class="form-group {% for error in errors %}{% if error.fieldName == 'rep_email' %} form-group-error {% endif %}{% endfor %}">
    <label class="form-label" for="rep_email">Email (optional)</label>
    {% for error in errors %}
      {% if error.fieldName == 'rep_email' %}<span class="error-message">{{ error.message }}</span>{% endif %}
    {% endfor %}
    <input type="text" class="form-control" id="rep_email" name="rep_email" value="{{ data['rep_email'] }}">
  </div>

  <div class="form-group {% for error in errors %}{% if error.fieldName == 'rep_dx_number' %} form-group-error {% endif %}{% endfor %}">
    <label class="form-label" for="rep_dx_number">DX address (optional)</label>
    {% for error in errors %}
      {% if error.fieldName == 'rep_dx_number' %}<span class="error-message">{{ error.message }}</span>{% endif %}
    {% endfor %}
    <input type="text" class="form-control" id="rep_dx_number" name="rep_dx_number" value="{{ data['rep_dx_number'] }}">
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>

</form>

{% endblock %}
