{% extends "prototype-MVP-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}
<h1 class="heading-large">Statement of truth</h1>

<div class="form-group">
  <label>The claimant believes that the information in this claim form is true. I'm authorised by the claimant to sign this statement.</label>
</div>

<div class="form-group">
  <label class="form-label" for="signer_name">Name</label>
  <textarea type="text" class="form-control" id="signer_name" name="signer_name" value="{{ data['signer_name'] }}">{{ data['signer_name'] }}</textarea>
</div>

<div class="form-group">
  <label class="form-label" for="signer_company">Company</label>
  <p class="heading-small">{% if data['rep_company_name'] %} {{ data['rep_company_name'] }} {% endif %}</p>
</div>

<div class="form-group">
  <label class="form-label" for="signer-role">Your role</label>
  <input class="form-control" id="signer-role" name="signer-role" type="text"value="{{ data['signer_role'] }}" {{ data['signer_role'] }}>
</div>


<form method="post" action="choose-how-to-pay" class="form">
  <input type="submit" id="submit" class="button" value="Continue to payment" disabled>
</form>

<script type='text/javascript'>
    window.onload = function() {
        var txts = document.getElementById('signer_name');

        var func = function() {
            if(this.value.length > 0) {
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('submit').disabled = true;
            }
        }

        txts.onkeyup = func;
        txts.onblur = func;
    }

</script>

{% endblock %}
