{% extends "prototype-mar-2018/index-full-width.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

  <h1 class="heading-large">
    <span class="form-hint">Defendant 3:</span>
    Kingsley Building Ltd
  </h1>

<form method="post" action="submitted" class="form">

  <div class="form-group">
  
    <h1 class="heading-medium">
      Request for judgment
    </h1>

    <p>The defendant has not filed a defence to my claim and the time for doing so has expired.</p>
    <p>I request judgment to be entered against the defendant for an amount to be decided by the court and costs.</p>

    <h2 class="heading-medium">Signed</h2>
    
    <div class="form-group column-two-thirds" style="padding-left: 0">
      <label class="form-label" for="signer_name">Name</label>
      <input type="text" class="form-control" id="signer_name" name="signer_name" value=""></textarea>
    </div>

    <div class="form-group column-two-thirds" style="padding-left: 0">
      <label class="form-label" for="signer-role">Your role</label>
      <input class="form-control" id="signer-role" name="signer-role" type="text"value="" >
    </div>

    <div class="form-group column-two-thirds" style="padding-left: 0">
      <button id="submit" class="button">Request judgment</button>
    </div>

  </div>

</form>

{% endblock %}