{% extends "prototype-jan-2018/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large"><span class="heading-secondary">000LR095</span>
  Michael Jones v Goddard Plumbing
</h1>

<h2 class="heading-large">
  <span class="form-hint">Defendant 1:</span>
  Jan Clarke
</h2>

<h2 class="heading-medium">Claim form</h2>

<p class="download certificate">
  <a target="_blank" href="/public/documents/N1-form-sealed.pdf">Download the sealed claim form</a> (PDF, 456 KB)
</p>


<h2 class="heading-medium" style="margin-bottom: 5px">Parties</h2>
<hr style="margin-top: 0;"/>

<h3 class="heading-small">Claimant</h3>
<ul>
  <li><a href="claimant">Michael Jones</a></li>
</ul>

<h2 class="heading-small">Defendants</h2>
<ul>
  <li>1. <a href="../dashboard/defendant">Jan Clarke trading as Clarke Construction</a></li>
  <li>2. <a href="../dashboard/defendant">Goddard Plumbing</a></li>
  <li>3. <a href="../dashboard/defendant">Kingsley Building Ltd</a></li>
</ul>

<h2 class="heading-medium">Case timeline</h2>

<div class="js-hidden" data-module="accordion-with-descriptions" id="accordian">
  <div class="subsection-wrapper">

      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Issue</h2>
          <span>Issued on {{ now | date("subtract", 3, "months") | date( "D MMM YYYY" ) }}</span>
        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">
          <a target="_blank" href="/public/documents/N1-form-sealed.pdf" class="download">Download the sealed claim form</a> (PDF, 234 KB)
        </div>
      </div>

      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Service</h2>

            {% if data['claim-status'] == 5 %}
            <span>
              Deemed served on {{ now | date("subtract", 18, "days") | date( "D MMM YYYY" ) }}
            </span>
            {% elseif ( data['claim-status'] == 2 ) or ( data['claim-status'] == 1.11 )  %}
            <span>
              Deemed served on {{ now | date("subtract", 10, "days") | date( "D MMM YYYY" ) }}
            </span>
            {% else %}
            <span>Deemed served on {{ now | date("subtract", 25, "days") | date( "D MMM YYYY" ) }}</span>
            {% endif %}

        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">


          <p>
            Served by: Post<br />
            <a target="_blank" href="/public/documents/Certificate-of-service.pdf" class="download">Download the certificate of service</a> (PDF, 234 KB)
          </p>

          <h3 class="heading-small">Documents served</h3>
          <ul class="downloads">
            <li><a href="#">Particulars of claim</a> (PDF, 123 KB)</li>
            <li><a href="#">Schedule of loss</a> (PDF, 123 KB)</li>
            <li><a href="#">Medical report</a> (PDF, 123 KB)</li>
          </ul>

        </div>
      </div>











      <div class="subsection js-subsection" id="aos">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Acknowledgment of service</h2>


            {% if ( data['claim-status'] == 2 ) or ( data['claim-status'] == 1.11 ) %}
            <span>
              Not yet filed
            </span>

            {% elseif ( data['claim-status'] == 5 ) %}
            <span>
              Not filed
            </span>

            {% else %}
            <span>
              Filed on {{ now | date("subtract", 13, "days") | date( "D MMM YYYY" ) }}
            </span>

            {% endif %}


        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">


            {% if ( data['claim-status'] == 2 ) or ( data['claim-status'] == 1.11 ) %}
            <p>
              <a href='../acknowledgement/representative-name' class="button secondary-button">Acknowledge service</a>
            </p>

            {% elseif ( data['claim-status'] == 5 ) %}
            <p>No acknowledgment filed</p>

            {% else %}
            <a href="../acknowledgement/view">View the acknowledgement of service</a>

            {% endif %}


        </div>
      </div>












      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Response</h2>

            {% if ( data['claim-status'] == 1 ) or ( data['claim-status'] == 1.1 ) or ( data['claim-status'] == 1.11 ) or ( data['claim-status'] == 1.2 ) or ( data['claim-status'] == 1.4 ) or ( data['claim-status'] == 2 ) %}
            <span>
              Response due by {{ now | date("add", 4, "days") | date( "D MMM YYYY" ) }}
            </span>

            {% elseif data['claim-status'] == 1.3 %}
            <span>
              Response due by {{ now | date("add", 32, "days") | date( "D MMM YYYY" ) }}
            </span>

            {% elseif ( data['claim-status'] == 4) or ( data['claim-status'] == 6) %}
            <span>
              Responded on {{ now | date( "D MMM YYYY" ) }}
            </span>

            {% elseif ( data['claim-status'] == 5) %}
            <span>
              Response due by {{ now | date("subtract", 4, "days") | date( "D MMM YYYY" ) }}
            </span>

            {% endif %}

        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">

          {% if ( data['claim-status'] == 1.1 ) or ( data['claim-status'] == 1.11 ) %}
          <p>
            <a href='../extension' class="button secondary-button">Ask for more time</a>
          </p>
          {% elseif data['claim-status'] == 1.2 %}
          <p>
            You asked to extend the response deadline to {{ now | date( "add", 32, "days" ) | date( "D MMMM YYYY" ) }}. You did this on {{ now | date( "D MMMM YYYY") }}. The claimant has not responded yet.
          </p>
          {% elseif data['claim-status'] == 1.3 %}
          <p>
            The claimant agreed to extend the deadline for your response.<br />
            Your new response deadline is {{ now | date( "add", 32, "days" ) | date( "D MMMM YYYY" ) }}.
          </p>
          {% elseif data['claim-status'] == 1.4 %}
          <p>
            The claimant rejected your request to extend the deadline for your response.</br >
            The claimant said: "28 days is excessive. You can have 14."
          </p>
          <p>
            <a href='../extension' class="button secondary-button">Propose a different deadline</a>
          </p>
          {% endif %}


          {% if ( data['claim-status'] != 4 ) and ( data['claim-status'] != 5 ) and ( data['claim-status'] != 6 ) %}
          <p>
            <a href='representative-name' class="button secondary-button">Upload your response</a>
          </p>
          {% endif %}

          {% if ( data['claim-status'] == 4 ) or ( data['claim-status'] == 6 ) %}
          <p>
            <a href="#" class="download">Download your response</a> (PDF, 234 KB)
          </p>

          {% elseif data['claim-status'] == 5 %}
          <p>
            No response submitted.
          </p>
          {% endif %}


        </div>
      </div>


      {% if data['claim-status'] == 5  %}
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Judgment</h2>

          <span>Entered on {{ now | date( "D MMMM YYYY" ) }}</span>

        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">

          <p>
            No response was received by {{ now | date("subtract", 4, "days") | date( "D MMMM YYYY" ) }}.<br />
            <a href="../judgment/view">View the confirmation of request for judgment</a>
          </p>

          <p style="margin-top: 10px">
            A judgment was entered on {{ now | date( "D MMMM YYYY" ) }}.<br />
            <a target="_blank" href="/public/documents/Judgement-order.pdf" class="download">Download the judgment order</a> (PDF, 234 KB)
          </p>

        </div>
      </div>


      {% elseif data['claim-status'] == 6  %}
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Reply</h2>
          <span>Received on {{ now | date( "D MMM YYYY" ) }}</span>
        </div>

        <div class="subsection__content js-subsection-content" id="subsection_content_0">

          <p style="margin-top: 10px">
            The claimant replied on {{ now | date( "D MMMM YYYY" ) }}.<br />
            <a target="_blank" href="#" class="download">Download the reply</a> (PDF, 234 KB)
          </p>

        </div>
      </div>
      {% endif %}



  </div>
</div>






{% endblock %}

{% block side_content %}

<aside class="govuk-related-items" role="complementary"  style="margin-top: 100px">

{% if data['claim-status'] > 2 %}
  <h3 class="heading-small" style="margin-top:.42105em">Your reference</h3>
  <p class="font-xsmall">PW1348-151117</p>
{% endif %}

  <h3 class="heading-small" style="margin-top:.42105em">Claimant's reference</h3>
  <p class="font-xsmall">PW1241/KU</p>

{% if data['claim-status'] > 2 %}
  <h3 class="heading-small" style="margin-top:.42105em">Defendant's reference</h3>
  <p class="font-xsmall">JK/639127/134</p>
{% endif %}

</aside>


{% endblock %}


{% block page_scripts %}

<script src="/public/javascripts/module_loader.js"></script>
<script src="/public/javascripts/modules/accordion-with-descriptions.js"></script>
<script>
    accordion = new GOVUK.Modules.AccordionWithDescriptions();
    $element = $('#accordian');
    accordion.start($element);
    accordion.openLastItem($element);

    if ( $('#aos a.secondary-button').length ) {
      accordion.openItem( $('#aos') );
    }

</script>

<form method="get" action="#" class="form" >
  <select id="claim-status" name="claim-status" onchange="this.form.submit()">
    <option value="1" {% if (data['claim-status'] == 1) or (data['claim-status']) < 0 %}selected{% endif %}>Served - AoS filed</option>
    <option value="2" {% if (data['claim-status'] == 2) %}selected{% endif %}>Served - No AoS filed</option>
    <option value="1.1" {% if (data['claim-status'] == 1.1)%}selected{% endif %}>Served - request extension</option>
    <option value="1.11" {% if (data['claim-status'] == 1.11)%}selected{% endif %}>Served - request extension (with AoS)</option>
    <option value="1.2" {% if (data['claim-status'] == 1.2)%}selected{% endif %}>Served - extension requested</option>
    <option value="1.3" {% if (data['claim-status'] == 1.3)%}selected{% endif %}>Served - extension accepted</option>
    <option value="1.4" {% if (data['claim-status'] == 1.4)%}selected{% endif %}>Served - extension rejected</option>
    <option value="4" {% if data['claim-status'] == 4 %}selected{% endif %}>Responded</option>
    <option value="5" {% if data['claim-status'] == 5 %}selected{% endif %}>Judgment received</option>
    <option value="6" {% if data['claim-status'] == 6 %}selected{% endif %}>Reply received</option>
  </select>
</form>


{% endblock %}
