{% extends "prototype-jan-2018/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large"><span class="heading-secondary">Claimant</span>
  Michael Jones
</h1>


<h2 class="heading-medium">Address</h2>
<p>
  123 Bovril Road<br />
  Bristol<br />
  BS3 2BE 
</p>

<h2 class="heading-medium">Service address</h2>
<p>
  Andrews & Jones Law<br/>
  123 Queen Square<br />
  Bristol<br />
  BS1 3JU
</p>
<p>Phone: 0117 8462038</p>
<p>Email: admin@andrewsjones.co.uk</p>
<o>DX address: 632873, Bristol</p>


{% endblock %}

{% block side_content %}

<aside class="govuk-related-items" role="complementary"  style="margin-top: 100px">

  <h3 class="heading-small" style="margin-top:.42105em">Your reference</h3>
  <p class="font-xsmall">PW1241/KU</p>
</aside>

{% endblock %}
