{% extends "prototype-sept2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large"><span class="heading-secondary">000LR095</span>
	Michael Jones v Jan Clarke
</h1>

<h2 class="heading-medium">Documents served</h2>

<p class="download certificate">
  <a target="_blank" href="/public/documents/N1-form-sealed.pdf">Download the sealed claim form</a> (PDF, 456 KB)
</p>

<ul class="downloads" style="background-color: #DEE0E2; display: block; padding: 10px; margin-bottom: 20px">
  <li style="padding-left: 50px; background-position-x: 13px;"><a href="">Download particulars of claim</a>  (PDF, 456 KB)</li>
  <li style="padding-left: 50px; background-position-x: 13px;"><a href="">Download schedule of loss</a> (PDF, 456 KB)</li>
  <li style="padding-left: 50px; background-position-x: 13px;"><a href="">Download medical report</a> (PDF, 456 KB)</li>
</ul>


<p>
	<a class="button" href="../acknowledgement/representative-name" role="button">Acknowledge service</a>
</p>
<p>
	<a href="../respondent/claim-details?claim-status=2">View the full claim details</a>
</p>

{% endblock %}