{% extends "prototype-dec-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large"><span class="heading-secondary">000LR095</span>
  Michael Jones v Jan Clark
</h1>


<h2 class="heading-medium">Claim form</h2>

<p class="download certificate">
  <a target="_blank" href="/public/documents/N1-form-sealed.pdf">Download the sealed claim form</a> (PDF, 456 KB)
</p>


<h2 class="heading-medium" style="margin-bottom: 5px">Parties</h2>
<hr style="margin-top: 0;"/>

<h3 class="heading-small">Claimant</h3>
<ul>
  <li>Michael Jones</li>
</ul>

{% if ( data['claim-status'] == 3.2 ) %}
<h2 class="heading-small">Defendant</h2>
<ul>
  <li>Jan Clarke trading as Clarke Construction</li>
</ul>

{% else %}
<h2 class="heading-small">Defendants</h2>
<ul>
  <li>1. Jan Clarke trading as Clarke Construction</li>
  <li>2. Goddard Plumbing</li>
  <li>3. Kingsley Building Ltd</li>
</ul>
{% endif %}

<h2 class="heading-medium">Case history</h2>

<div class="js-hidden" data-module="accordion-with-descriptions" id="accordian">
  <div class="subsection-wrapper">

      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Issue</h2>
          <span>Issued: {{ now | date("subtract", 3, "months") | date( "DD MMM YYYY" ) }}</span>
        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">
          <a target="_blank" href="/public/documents/N1-form-sealed.pdf" class="download">Download the sealed claim form</a> (PDF, 234 KB)
        </div>
      </div>

      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Service</h2>
            {% if data['claim-status'] == 2 %}
            <span>Deemed served: {{ now | date( "DD MMM YYYY" ) }}</span>

            {% elseif data['claim-status'] == 3 %}
            <span>Deemed served: {{ now | date("subtract", 3, "days") | date( "DD" ) }} to {{ now | date("subtract", 1, "days") | date( "DD MMM YYYY" ) }}</span>

            {% elseif ( data['claim-status'] == 3.2 ) or ( data['claim-status'] == 3.3 ) or ( data['claim-status'] == 3.4 ) %}
            <span>Deemed served: {{ now | date("subtract", 8, "days") | date( "DD MMM YYYY" ) }}</span>

            {% elseif data['claim-status'] == 3 %}
            <span>Deemed served: {{ now | date("subtract", 3, "days") | date( "DD" ) }} to {{ now | date("subtract", 1, "days") | date( "DD MMM YYYY" ) }}</span>

            {% elseif ( data['claim-status'] == 4 ) or ( data['claim-status'] == 6 ) or ( data['claim-status'] == 6.1 ) or ( data['claim-status'] == 7 ) %}
            <span>Deemed served: {{ now | date("subtract", 16, "days") | date( "DD MMM YYYY" ) }}</span>

            {% elseif ( data['claim-status'] == 5 ) or ( data['claim-status'] == 5.1) %}
            <span>Deemed served: {{ now | date("subtract", 18, "days") | date( "DD" ) }} to {{ now | date("subtract", 16, "days") | date( "DD MMM YYYY" ) }}</span>

            {% else %}
            <span>Serve by: {{ now | date("add", 1, "month") | date( "DD MMM YYYY" ) }}</span>
            {% endif %}
        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">
          

          {% if data['claim-status'] == 2 %}
          <p>
            Served by: Post<br />
            <a target="_blank" href="/public/documents/Certificate-of-service.pdf" class="download">Download the certificate of service</a> (PDF, 234 KB)
          </p>

          {% elseif ( data['claim-status'] == 3 ) or ( data['claim-status'] == 5 )  or ( data['claim-status'] == 5.1 ) %}


            <table>
              <thead>
              <tr>
                <th scope="col">Defendant</th>
                <th scope="col">Served by</th>
                <th scope="col">Deemed served</th>
              </tr>
              </thead>
              <tbody>
              <tr class="no-border">
                <td>1. Jan Clarke trading as Clarke Construction</td>
                <td>Post</td>
                <td>
                  {% if data['claim-status'] == 3 %}
                    {{ now | date("subtract", 3, "days") | date( "DD MMM YYYY" ) }}
                  {% else %}
                    {{ now | date("subtract", 18, "days") | date( "DD MMM YYYY" ) }}
                  {% endif %}
                </td>
              </tr>
              <tr class="no-border">
                <td>2. Goddard Plumbing</td>
                <td>Post</td>
                <td>
                  {% if data['claim-status'] == 3 %}
                    {{ now | date("subtract", 3, "days") | date( "DD MMM YYYY" ) }}
                  {% else %}
                    {{ now | date("subtract", 18, "days") | date( "DD MMM YYYY" ) }}
                  {% endif %}
                </td>
              </tr>
              <tr class="no-border">
                <td>3. Kingsley Building Ltd</td>
                <td>Email</td>
                <td>
                  {% if data['claim-status'] == 3 %}
                    {{ now | date("subtract", 1, "days") | date( "DD MMM YYYY" ) }}
                  {% else %}
                    {{ now | date("subtract", 16, "days") | date( "DD MMM YYYY" ) }}
                  {% endif %}
                </td>
              </tr>
              </tbody>
            </table>

          <p>
            <a target="_blank" href="/public/documents/Certificate-of-service.pdf" class="download">Download the certificate of service</a> (PDF, 234 KB)
          </p>

          {% elseif ( data['claim-status'] == 3 ) or ( data['claim-status'] == 3.2 ) or ( data['claim-status'] == 3.3 ) or ( data['claim-status'] == 3.4 ) or ( data['claim-status'] == 4 ) or ( data['claim-status'] == 6 ) or ( data['claim-status'] == 6.1 ) or ( data['claim-status'] == 7 ) %}
          <p>
            Served by: Post<br />
            <a target="_blank" href="/public/documents/Certificate-of-service.pdf" class="download">Download the certificate of service</a> (PDF, 234 KB)
          </p>

          {% else %}
          <p>
            <a href='../certificate' class="button secondary-button" style="margin-top: 5px;">Tell the court you've served</a>
          </p>
          {% endif %}

          {% if data['claim-status'] > 1 %}
          <h3 class="heading-small">Documents served</h3>
          <ul class="downloads">
            <li><a href="#">Particulars of claim</a> (PDF, 123 KB)</li>
            <li><a href="#">Schedule of loss</a> (PDF, 123 KB)</li>
            <li><a href="#">Medical report</a> (PDF, 123 KB)</li>
          </ul>
          {% endif %}

        </div>
      </div>

      {% if data['claim-status'] > 1 %}
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Response</h2>

            {% if data['claim-status'] == 2 %}
            <span>
              Responses due: {{ now | date("add", 14, "days") | date( "DD MMM YYYY" ) }}
            </span>

            {% elseif data['claim-status'] == 3 %}
            <span>
              Responses due: {{ now | date("add", 13, "days") | date( "DD MMM YYYY" ) }}
            </span>

            {% elseif data['claim-status'] == 3.2 %}
            <span>
              Received: {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}
            </span>

            {% elseif ( data['claim-status'] == 3.3 ) or ( data['claim-status'] == 5.1 ) or ( data['claim-status'] == 6.1 ) %}
            <span>
              Responses due: {{ now | date("add", 20, "days") | date( "DD MMM YYYY" ) }}
            </span>

            {% elseif data['claim-status'] == 3.4 %}
            <span>
              Received by: {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}
            </span>

            {% elseif ( data['claim-status'] >= 4) %}
            <span>
              No response by: {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}
            </span>

            {% endif %}

        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">

            {% if ( data['claim-status'] == 4 ) or ( data['claim-status'] == 6 ) or ( data['claim-status'] == 7 ) %}
            <h3 class="heading-small">Responses received</h3>

            <table>
              <thead>
              <tr>
                <th scope="col">Defendant</th>
                <th scope="col">Status</th>
                <th scope="col">Received</th>
              </tr>
              </thead>
              <tbody>
              <tr class="no-border">
                <td>2. Goddard Plumbing</td>
                <td>Defended</td>
                <td>{{ now | date("subtract", 7, "days") | date( "DD MMM YYYY" ) }}</td>
              </tr>
              <tr class="download no-border">
                <td colspan="3"><a href="../respondent/view">View response</a></td>
              </tr>
              <tr class="no-border">
                <td>3. Kingsley Building Ltd</td>
                <td>Admitted</td>
                <td>{{ now | date("subtract", 8, "days") | date( "DD MMM YYYY" ) }}</td>
              </tr>
              <tr class="download no-border">
                <td colspan="3"><a href="../respondent/view">View response</a></td>
              </tr>
              </tbody>
            </table>

            <h3 class="heading-small">Responses outstanding</h3>

            <table>
              <thead>
              <tr>
                <th scope="col">Defendant</th>
                <th scope="col">Status</th>
                <th scope="col">Due</th>
              </tr>
              </thead>
              <tbody>
              <tr class="no-border">
                <td>1. Jan Clarke trading as Clarke Construction</td>
                <td>No response</td>
                <td>{{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}</td>
              </tr>
              </tbody>
            </table>


            {% elseif data['claim-status'] == 3.2 %}

            <p>
              <a href="../acknowledgement/view">View acknowledgement of service</a><br />
              <a href="../respondent/view">View response</a>
            </p>

            {% elseif ( data['claim-status'] == 3.3 ) or ( data['claim-status'] == 5 ) or ( data['claim-status'] == 5.1 ) or ( data['claim-status'] == 6.1 ) %}
            <h3 class="heading-small">Responses received</h3>

            <table>
              <thead>
              <tr>
                <th scope="col">Defendant</th>
                <th scope="col">Status</th>
                <th scope="col">Received</th>
              </tr>
              </thead>
              <tbody>
              <tr class="no-border">
                <td>1. Jan Clarke trading as Clarke Construction</td>
                <td>Defended</td>
                <td>{{ now | date("subtract", 3, "days") | date( "DD MMM YYYY" ) }}</td>
              </tr>
              <tr class="download no-border">
                <td colspan="3"><a href="../acknowledgement/view">View acknowledgement of service</a></td>
              </tr>
              <tr class="download no-border">
                <td colspan="3"><a href="../respondent/view">View response</a></td>
              </tr>
              </tbody>
            </table>

            <h3 class="heading-small">Responses outstanding</h3>

            <table>
              <thead>
              <tr>
                <th scope="col">Defendant</th>
                <th scope="col">Status</th>
                <th scope="col">Response due</th>
              </tr>
              </thead>
              <tbody>
              <tr class="no-border">
                <td>2. Goddard Plumbing</td>
                {% if ( data['claim-status'] == 3.3 ) or ( data['claim-status'] == 5.1 ) or ( data['claim-status'] == 6.1 ) %}
                <td>Acknowledged</td>
                {% else %}
                <td>No response</td>
                {% endif %}
                <td>
                {% if ( data['claim-status'] == 3.3 ) or ( data['claim-status'] == 5.1 ) or ( data['claim-status'] == 6.1 ) %}
                   {{ now | date("add", 20, "days") | date( "DD MMM YYYY" ) }}
                   {% else %}
                   {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}
                   {% endif %}
                </td>
              </tr>

              {% if ( data['claim-status'] == 3.3 ) or ( data['claim-status'] == 5.1 ) or ( data['claim-status'] == 6.1 ) %}
              <tr class="download no-border">
                <td colspan="3"><a href="../acknowledgement/view">View acknowledgement of service</a></td>
              </tr>
              {% endif %}
              <tr class="no-border">
                <td>3. Kingsley Building Ltd</td>
                <td>No response</td>
                <td>
                   {% if data['claim-status'] == 3.3 %}
                   {{ now | date("add", 6, "days") | date( "DD MMM YYYY" ) }}
                   {% else %}
                   {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}
                   {% endif %}
                </td>
              </tr>
              </tbody>
            </table>


            {% elseif data['claim-status'] == 3.4 %}

            <table>
              <thead>
              <tr>
                <th scope="col">Defendant</th>
                <th scope="col">Status</th>
                <th scope="col">Received</th>
              </tr>
              </thead>
              <tbody>
                <tr class="no-border">
                  <td>1. Jan Clarke trading as Clarke Construction</td>
                  <td>Defended</td>
                  <td>{{ now | date("subtract", 6, "days") | date( "DD MMM YYYY" ) }}</td>
                </tr>
                <tr class="download no-border">
                  <td colspan="3"><a href="../acknowledgement/view">View acknowledgement of service</a></td>
                </tr>
                <tr class="download no-border">
                  <td colspan="3"><a href="../respondent/view">View response</a></td>
                </tr>
                <tr class="no-border">
                  <td>2. Goddard Plumbing</td>
                  <td>Admitted</td>
                  <td>{{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}</td>
                </tr>
                <tr class="download no-border">
                  <td colspan="3"><a href="../acknowledgement/view">View acknowledgement of service</a></td>
                </tr>
                <tr class="download no-border">
                  <td colspan="3"><a href="../respondent/view">View response</a></td>
                </tr>
                <tr class="no-border">
                  <td>3. Kingsley Building Ltd</td>
                  <td>Defended</td>
                  <td>{{ now | date("subtract", 5, "days") | date( "DD MMM YYYY" ) }}</td>
                </tr>
                <tr class="download no-border">
                  <td colspan="3"><a href="../respondent/view">View response</a></td>
                </tr>
              </tbody>
            </table>


            {% else %}
              
              <p style="margin-bottom: 0;">
                No responses received.
              </p>

            {% endif %}


        </div>
      </div>

      {% endif %}


      {% if data['claim-status'] >= 4  %}
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services">Judgment</h2>

          {% if ( data['claim-status'] == 4 ) or ( data['claim-status'] == 5 )or ( data['claim-status'] == 5.1 )  %}
          <span>Available from: {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}</span>
          {% elseif data['claim-status'] < 6 %}
          <span>Available from: {{ now | date("subtract", 5, "days") | date( "DD MMM YYYY" ) }}</span>
          {% else %}
          <span>Requested on: {{ now | date( "DD MMM YYYY" ) }}</span>
          {% endif %}

        </div>
        <div class="subsection__content js-subsection-content" id="subsection_content_0">
         
          {% if ( data['claim-status'] == 4 ) %}
          <p>
            The following defendant did not respond by {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}.
          </p>

          <ul>
            <li>2. Jan Clarke</li>
          </ul>

          <p>
             <a href='../judgment/dob' class="button secondary-button" style="margin-top: 5px;">Request judgment</a>
          </p>

          {% elseif data['claim-status'] == 5 %}
          <p>
            The following defendants did not respond by {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}.
          </p>

          <ul>
            <li>2. Goddard Plumbing</li>
            <li>3. Kingsley Building Ltd</li>
          </ul>

          <p>
            <a href='../judgment' class="button secondary-button" style="margin-top: 5px;">Request judgment</a>
          </p>

          {% elseif data['claim-status'] == 5.1 %}
          <p>
            The following defendant did not respond by {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}.
          </p>

          <ul>
            <li>3. Kingsley Building Ltd</li>
          </ul>

          <p>
            <a href='../judgment' class="button secondary-button" style="margin-top: 5px;">Request judgment</a>
          </p>

          <p>
            The following defendant has until {{ now | date("add", 20, "days") | date( "DD MMM YYYY" ) }} to respond, after which judgment may be requested.
          </p>

          <ul>
            <li>2. Goddard Plumbing</li>
          </ul>



          {% elseif ( data['claim-status'] == 6 ) %}
          <p>
            The following defendant did not respond by {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}.
          </p>

          <ul>
            <li>2. Jan Clarke</li>
          </ul>

          <p style="margin-top: 10px;">
            Judgement was requested on {{ now | date( "DD MMM YYYY" ) }}.<br />
            An order will be made on {{ now | date("add", 5, "days") | date( "DD MMM YYYY" ) }}.
          </p>
          <p>
            <a href="../judgment/view">View confirmation of request for judgment</a>
          </p>


          {% elseif ( data['claim-status'] == 6.1 ) %}
          <p>
            The following defendant did not respond by {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}.
          </p>

          <ul>
            <li>2. Jan Clarke</li>
          </ul>

          <p style="margin-top: 10px;">
            Judgement was requested on {{ now | date( "DD MMM YYYY" ) }}.
          </p>
          <p>
            <a href="../judgment/view">View confirmation of request for judgment</a>
          </p>
          <p>
            This case will not be transferred to the court until {{ now | date('add', 13, 'days') | date( "DD MMMM YYYY" ) }} when the remaining defendants' response period has elapsed.
          </p>



          {% elseif data['claim-status'] == 7 %}
          <p>
            The following defendant did not respond by {{ now | date("subtract", 2, "days") | date( "DD MMM YYYY" ) }}.
          </p>

          <ul>
            <li>2. Jan Clarke</li>
          </ul>

          <p style="margin-top: 10px">
            <a href="../judgment/view">View confirmation of request for judgment</a><br />
            <a target="_blank" href="/public/documents/Judgement-order.pdf" class="download">Download the judgment order</a> (PDF, 234 KB)
          </p>

          {% endif %}

        </div>
      </div>
      {% endif %}



  </div>
</div>






{% endblock %}

{% block side_content %}

<aside class="govuk-related-items" role="complementary"  style="margin-top: 100px">

  <h3 class="heading-small" style="margin-top:.42105em">Your reference</h3>
  <p class="font-xsmall">PW1241/KU</p>
</aside>

{% endblock %}


{% block page_scripts %}

<script src="/public/javascripts/module_loader.js"></script>
<script src="/public/javascripts/modules/accordion-with-descriptions.js"></script>
<script>
    accordion = new GOVUK.Modules.AccordionWithDescriptions();
    $element = $('#accordian');
    accordion.start($element);
</script>

<form method="get" action="#" class="form" >
  <select id="claim-status" name="claim-status" onchange="this.form.submit()">
    <option  value="1" {% if (data['claim-status'] == 1) or (data['claim-status']) < 0 %}selected{% endif %}>Issued</option>
    <option value="2" {% if data['claim-status'] == 2 %}selected{% endif %}>Served (single method)</option>
    <option value="3" {% if data['claim-status'] == 3 %}selected{% endif %}>Served (mixed method)</option>
    <option value="3.2" {% if data['claim-status'] == 3.2 %}selected{% endif %}>Response - received (single def)</option>
    <option value="3.3" {% if data['claim-status'] == 3.3 %}selected{% endif %}>Responses - awaiting some (multi def)</option>
    <option value="3.4" {% if data['claim-status'] == 3.4 %}selected{% endif %}>Responses - received all (multi def)</option>
    <option value="4" {% if data['claim-status'] == 4 %}selected{% endif %}>Request judgment (single)</option>
    <option value="5" {% if data['claim-status'] == 5 %}selected{% endif %}>Request judgment (multi)</option>
    <option value="X" {% if data['claim-status'] == 5.1 %}selected{% endif %}>Request judgment (not all ready)</option>
    <option value="6" {% if data['claim-status'] == 6 %}selected{% endif %}>Judgment requested</option>
    <option value="X" {% if data['claim-status'] == 6.1 %}selected{% endif %}>TODO Judgment requested - not all ready</option>
    <option value="7" {% if data['claim-status'] == 7 %}selected{% endif %}>7. Order available</option>
  </select>
</form>

{% endblock %}
