{% extends "prototype-mar-2018/index-govuk.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Download your documents</h1>
<p>Williams &amp; Jones LLP has issued a claim and named you as the defendant's legal representative.</p>

<p><a href="/public/documents/N1-form-sealed.pdf" target="new">Download claim form</a></p>
<p><a href="">Download particulars of claim</a></p>
<p><a href="">Download schedule of loss</a></p>
<p><a href="">Download medical report</a></p>

{% endblock %}
