{% extends "../index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Enter claimant details</h1>
<form action="claimant-details" method="post">
  <fieldset>
    <legend class="visually-hidden">Claimant is a business</legend>

    <div class="multiple-choice" data-target="business-name">
      <input id="business" name="nationalities" type="checkbox" value="Business">
      <label for="nationalities-british">Claimant is a business</label>
    </div>

    <div id="business-name" class="panel panel-border-narrow js-hidden" aria-hidden="true">
      <label class="form-label" for="business-name-input">Name of business</label>
      <input class="form-control" type="text" id="business-name-input" name="business-name-input">
    </div>

    <div class="form-group">
      <label for="first-name" class="form-label">First name</label>
      <input id="first-name" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="family-name" class="form-label">Family name</label>
      <input id="family-name" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="address-1" class="form-label">Address 1</label>
      <input id="address-1" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="address-2" class="form-label">Address 2</label>
      <input id="address-2" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="town" class="form-label">Town/City</label>
      <input id="town" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="post-code" class="form-label">Postcode</label>
      <input id="post-code" type="text" class="form-control">
    </div>
  </fieldset>
</form>

<p><a class="button secondary-button" href="#" role="button">Add another claimant</a></p>

<a class="button" href="defendant-details" role="button">Save and Continue</a> {% endblock %}
