{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">When are you claiming interest from?</h1>

<fieldset class="form-group">
    <legend class="visuallyhidden">
        When are you claiming interest from
    </legend>

    <div class="multiple-choice" data-target="particular">
        <input id="radio-1" name="interest-date" type="radio" value="Particular date" aria-controls="particular" aria-expanded="false">
        <label for="radio-1"><strong class="bold">Claim interest from a particular date</strong><br>
            For example, the date an invoice was overdue or that you told someone they owed you the money.</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="particular" aria-hidden="true">

        <div class="form-date form-group">

            <p class="form-hint">For example, 31 3 1980</p>

            <div class="form-group form-group-day">
                <label for="dob-day">Day</label>
                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="">
            </div>

            <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="">
            </div>

            <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014" value="">
            </div>
        </div>
        <div class="form-group-related">
            <label class="form-label" for="date-why">Explain why you're claiming from this date</label>
            <input class="form-control" name="date-why" type="text" id="date-why" value="">
        </div>

    </div>

    <div class="multiple-choice">
        <input id="radio-2" type="radio" name="interest-date" value="Issue date">
        <label for="radio-2"><strong class="bold">Claim interest from the date I submit the claim</strong>
        </label>
    </div>

</fieldset>


<a class="button" href="claim-total" role="button">Save and continue</a>

{% endblock %}
