{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Summarise the claim</h1>
<p class="form-hint">Explain the basics of the case for the defendant and the court. You don't need to include particulars of claim here.</p>
<div class="form-group">
    <textarea class="form-control form-control-3-4 form-control-large" id="claim-details-1" rows="3" name="claim-details1" type="text" style="width: 100%" value=""></textarea>
</div>




<a class="button" href="claim-details-summary" role="button">Save and continue</a>

{% endblock %}
