{% extends "../index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Enter defendant company details</h1>
<form action="defendant-details" method="post">
  <fieldset>
    <legend class="visually-hidden">Enter company details</legend>

    <div id="business-name" class="form-group">
      <label class="form-label" for="business-name-input">Name of company</label>
      <input class="form-control" type="text" id="business-name-input" name="business-name-input">
    </div>

    <div id="business-name" class="form-group">
      <label class="form-label" for="company-number-input">Company number</label>
      <input class="form-control" type="text" id="company-number-input" name="business-name-input">
    </div>

    <div class="form-group">
      <label for="address-1" class="form-label">Address 1</label>
      <input id="address-1" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="address-2" class="form-label">Address 2</label>
      <input id="address-2" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="town" class="form-label">Town/City</label>
      <input id="town" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="post-code" class="form-label">Postcode</label>
      <input id="post-code" type="text" class="form-control">
    </div>

    <p class="bold-medium">Enter address for service:</p>

    <div class="multiple-choice">
      <input id="company" name="serviceAddress" type="radio" value="company">
      <label for="company">Same as above</label>
    </div>

    <div class="multiple-choice" data-target="service-address">
      <input id="individual" name="serviceAddress" type="radio" value="individual">
      <label for="individual">Enter solicitors address</label>
    </div>

    <div id="service-address" class="panel panel-border-narrow js-hidden" aria-hidden="true">
      <div class="form-group">
        <label class="form-label" for="business-name-input">Name of solicitors</label>
        <input class="form-control" type="text" id="business-name-input" name="business-name-input">
      </div>

      <div class="form-group">
        <label for="address-1" class="form-label">Address 1</label>
        <input id="address-1" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="address-2" class="form-label">Address 2</label>
        <input id="address-2" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="town" class="form-label">Town/City</label>
        <input id="town" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="post-code" class="form-label">Postcode</label>
        <input id="post-code" type="text" class="form-control">
      </div>
    </div>

  </fieldset>
</form>

<div class="form-group">
  <a class="button secondary-button" href="defendant-type" role="button">Add another defendant</a>
</div>

<div class="form-group">
  <a class="button" href="claim-amount" role="button">Save and Continue</a>
</div>

{% endblock %}
