{% extends "../index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}


<h1 class="heading-large"><div><p class="font-xsmall">Claimant v Defendant</p></div> Describe the claim</h1>
<form action="claim-description" method="post">
  <fieldset>
    <legend class="visually-hidden">Describe the claim</legend>

    <div class="form-group">
      <label for="reference-number" class="form-label">Your reference number</label>
      <input id="reference-number" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="claim-type" class="form-label">Type of claim</label>
      <select class="form-control-select" name="claim-type" id="claim-type">
        <option>-- Please make a selection --</option>
        <option value="1">Compensation for injury to person</option>
        <option value="2">Road traffic accident</option>
        <option value="3">Clinical negligence</option>
        <option value="4">Money lent but not paid</option>
        <option value="5">Unpaid wages or invoices</option>
        <option value="6">Bad services - e.g. from a builder</option>
        <option value="7">Faulty goods - e.g. a TV or car</option>
        <option value="8">Holiday / travel problems, incl flights</option>
        <option value="9">Landlord-tenant dispute</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div class="form-group">
      <label for="claim-summary" class="form-label">Summarise the claim</label>
      <span class="form-hint">Use 1,000 characters or less</span>
      <textarea class="form-control form-control-3-4" id="claim-summary" rows="3" type="text"></textarea>
    </div>
  </fieldset>
</form>

<a class="button" href="calculate-claim-fee" role="button">Save and Continue</a> {% endblock %}
