{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Money claim rules</h1>
<p>It could count against you if you go to a hearing and have not tried to resolve your dispute out of court.</p>
<h3 class="heading-medium">Before you make a claim</h3>
<p>You must try to solve the dispute directly before making a claim:</p>
<ul>
    <li>Speak to them (send an email or letter if you want a record).</li>
    <li>Tell them what you believe they owe you and why.</li>
    <li>Explain that if you can't reach an agreement (eg a timetable for paying the money) you'll make a legal money claim.</li>
    <li>Tell them they might have to pay the full amount as well as fees and interest if you claim, and that they could get a County Court Judgment (CCJ).</li>
</ul>
<h3 class="heading-medium">After you've claimed</h3>
<p>Try to settle your case before a hearing even after you have submitted your claim to the court.</p>
<p>You can use our service to help you resolve your dispute and reach an agreement, if needed.</p>
<a class="button" href="task-list" role="button">I confirm I've read this</a>

{% endblock %}
