{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Issue a money claim</h1>

<p>Use this service to issue an unspecified money claim for damages.

<h2 class="heading-medium">Before you start</h2>

<p>You must be a legal representative with permission from a client to issue a claim on their behalf.</p>

<p>You'll need:</p>

<ul class="list list-bullet">
    <li>the current address of the person or company you’re claiming against</li>
    <li>the address where you want the claim to be served</li>
    <li>a credit or debit card to pay the <a href="https://www.gov.uk/make-court-claim-for-money/court-fees">claim fee</a>.
    </li>
</ul>

<h2 class="heading-medium">Serving the claim</h2>

<p>After you've issued the claim you can download a sealed claim form and serve it yourself.</p>

<a class="button" href="task-list" role="button">Start</a>

{% endblock %}
