{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Issue a money claim</h1>
<h2 class="heading-medium">What you'll need</h2>

<p>You can only use this for certain types of claim</p>

<ul class="list list-bullet">
    <li>Current address and any other contact details of the person or company you’re claiming against.</li>
    <li>A credit or debit card to pay the <a href="https://www.gov.uk/make-court-claim-for-money/court-fees">claim fee</a>.
    </li>
</ul>

<a class="button" href="task-list" role="button">Start</a>

{% endblock %}
