{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Make a money claim</h1>
<ol class="task-list">
    <h2 class="task-list-section">
        <span class="task-list-section-number">1. </span> Before you start
    </h2>
    <ul class="task-list-items">
        <li class="task-list-item">
            <a class="task-name" href="read-rules.html">
                Read Rules
            </a>
            <strong class="task-completed">Completed</strong>
        </li>
    </ul>
    <h2 class="task-list-section">
        <span class="task-list-section-number">2. </span> Prepare your claim
    </h2>
    <ul class="task-list-items">
        <li class="task-list-item">
            <a class="task-name" href="claimant-name">
                Claimant details
            </a>
            <strong class="task-completed">Completed</strong>
        </li>
        <li class="task-list-item">
            <a class="task-name" href="#" aria-describedby="eligibility-completed">
                Defendant details
            </a>
            <strong class="task-completed">Completed</strong>
        </li>
        <li class="task-list-item">
            <a class="task-name" href="claim-amount" aria-describedby="eligibility-completed">
                Claim amount
            </a>
            <strong class="task-completed">Completed</strong>
        </li>
        <li class="task-list-item">
            <a class="task-name" href="claim-details" aria-describedby="eligibility-completed">
                Claim details
            </a>
            <strong class="task-completed">Completed</strong>
        </li>
    </ul>
    <h2 class="task-list-section">
        <span class="task-list-section-number">3. </span> Submit
    </h2>
    <ul class="task-list-items">
        <li class="task-list-item">
            <a class="task-name" href="#">
                Check and submit your claim
            </a>
            <strong class="task-completed">Completed</strong>
        </li>
    </ul>
</ol>

{% endblock %}
