{% extends "../index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">What type of claimant</h1>
<form action="choose-how-to-pay" id="form" method="post" class="form-group">
    <fieldset class="form-group">
        <legend class="visually-hidden">What type of claimant</legend>

        <div class="multiple-choice">
            <input id="company" name="claimantType" type="radio" value="company">
            <label for="company">Company</label>
        </div>

        <div class="multiple-choice">
            <input id="individual" name="claimantType" type="radio" value="individual">
            <label for="individual">Individual</label>
        </div>

    </fieldset>

    <div class="form-group">
        <a href="claimant-name" class="button" role="button">Save and continue</a>
    </div>
</form>
{% endblock %}
