{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Do you want to claim interest?</h1>
<form action="claim-total" id="form" method="post" class="form-group">
  <div class="form-group">
    <div class="multiple-choice">
      <input id="yes" type="radio" name="interestRate" value="yes" {{ checked('interestRate','yes') }}>
      <label for="yes">Yes</label>
    </div>

    <div class="multiple-choice" data-target="different">
      <input id="no" name="interestRate" type="radio" value="no" {{ checked('interestRate','no') }}>
      <label for="no">No</label>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
