{% extends "../index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Enter claimant's details</h1>
<form action="claim-details" method="post">
  <fieldset class="form-group">
    <legend class="visually-hidden">Enter claimant's details</legend>

    <div class="form-group">
      <label class="form-label" for="claimant_company_name">Company name</label>
      <input class="form-control" type="text" id="claimant_company_name" name="claimant_company_name" value="{{ data['claimant_company_name'] }}">
    </div>

    <div class="form-group">
      <label class="form-label" for="claimant_company_number">Companies House number</label>
      <input class="form-control" type="text" id="claimant_company_number" name="claimant_company_number" value="{{ data['claimant_company_number'] }}">
    </div>

    <div class="form-group">
      <label for="claimant_company_address1" class="form-label">Address 1</label>
      <input id="claimant_company_address1" name="claimant_company_address1" type="text" class="form-control" value="{{ data['claimant_company_address1'] }}">
    </div>

    <div class="form-group">
      <label for="claimant_company_address2" class="form-label">Address 2</label>
      <input id="claimant_company_address2" name="claimant_company_address2" type="text" class="form-control" value="{{ data['claimant_company_address2'] }}">
    </div>

    <div class="form-group">
      <label for="claimant_company_city" class="form-label">Town/city</label>
      <input id="claimant_company_city" name="claimant_company_city" type="text" class="form-control" value="{{ data['claimant_company_city'] }}">
    </div>

    <div class="form-group">
      <label for="claimant_company_postcode" class="form-label">Postcode</label>
      <input id="claimant_company_postcode" name="claimant_company_postcode"  type="text" class="form-control form-control-1-4"" value="{{ data['claimant_company_postcode'] }}">
    </div>
  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
