{% extends "../index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">Your claim has been issued</h1>
  <p>Claim number: D99YJ987</p>
</div>

<div class="form-group">
  <div class="task-list-item form-group">
    <div class="column-half bold">Total Paid</div>
    <div class="column-half bold numeric">£410</div>
  </div>

  <p>To serve a claim, download the sealed claim form and send it to the defendant.</p>


  <div class="form-group">
    <div class="column-half">
      <p>Sealed claim form</p>

      <a target="_blank" href="/public/documents/N1-form-sealed.pdf">
        <div class="form-group">
          <img class="form-label" src="/public/images/sealed-claim.png" alt="sealed claim form">
        </div>
        <span class="button secondary-button">Download</span>
      </a>
    </div>
    <div class="column-half">
      <p>Response Pack</p>
      <div class="form-group">
        <img class="form-label" src="/public/images/response-pack.png" alt="response pack">
      </div>
      <a class="button secondary-button" href="/" role="button">Download</a>
    </div>
  </div>
</div>


<a class="button" href="start" role="button">Finish</a> {% endblock %}
