{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Calculating your fee</h1>

<form action="claim-details-summary" id="form" method="post" class="form-group">
  <table class="table-form form-group">
    <thead>
    <tr>
      <th class="font-small"  scope="col"></th>
      <th class="numeric last" scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th class="font-small" scope="row">Claim value</th>
        <td class="numeric last">
          <span class="font-small">{% if data['lowerValue'] %} {{ data['lowerValue'] }} {% else %} Not stated {% endif %}
            to
            {% if data['higherValue'] %} {{ data['higherValue'] }} {% else %} Not stated {% endif %}</span>
        </td>
      </tr>
      <tr>
        <th class="bold-small" scope="row">Issue Fee</th>
        <td class="numeric last">
          <span class="font-small">£{{ amount }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
