{% extends "prototype-nov-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

      <h1 class="heading-large">Indicate your intention</h1>
      <form action="check-your-answers" method="post">

        <h2 class="heading-medium">I intend to</h2>

        <fieldset class="form-group">

          <div class="multiple-choice">
              <input id="defend-all" name="intention" type="radio" value="defend all of the claim" {{ checked('intention','defend all of the claim') }}>
              <label for="defend-all">Defend all of the claim</label>
          </div>
          <div class="multiple-choice">
              <input id="defend-part" name="intention" type="radio" value="defend part of the claim" {{ checked('intention','defend part of the claim') }}>
              <label for="defend-part">Defend part of the claim</label>
          </div>
          <div class="multiple-choice">
              <input id="contest" name="intention" type="radio" value="contest jurisdiction" {{ checked('intention','contest jurisdiction') }}>
              <label for="contest">Contest jurisdiction</label>
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Save and continue">
        </div>

      </form>

  {% endblock %}