{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">Your claim has been issued</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: D99YJ987</h2>
  <p class="form-group-compound">Submitted {{ today }}</p>
  <p>Issued {{ issueDate }}</p>
  <p class="form-group-compound">Fee paid: {{ issueFeeAmount }}</p>
</div>

<p>We've emailed confirmation to:
  <span class="bold-small">{{ data['username'] }}</span>
</p>

<h2 class="bold-medium">Follow these steps to serve a claim:</h2>

<ol class="form-group steps" type="1">
  <li><a target="_blank" href="/public/documents/N1-form-sealed.pdf">Download the sealed claim form</a> (this will open in a new window).</li>
  <li>Send the form, particulars of claim and <a href="https://formfinder.hmctsformfinder.justice.gov.uk/n9-eng.pdf">a response pack</a> to the defendant within 4 months of the date of issue.</li>
  <li><a href="certificate">Submit confirmation of service</a>, within 21 days.</li>
</ol>

<div class="form-group">
  <a class="button" href="start" role="button">Finish</a>
</div>

<p><a href="email" role="button">Example - email</a></p>
<p><a href="dashboard" role="button">Example - dashboard</a></p>


{% endblock %}
