{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">Your claim has been issued</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: D99YJ987</h2>
  <p class="form-group-compound">Submitted: {{ today }}</p>
  <p>Issued: {{ issueDate }}</p>
  <p class="form-group-compound">Fee paid: {{ issueFeeAmount }}</p>
</div>

<p>We've emailed confirmation to:
  <span class="bold-small">{{ data['username'] }}</span>
</p>

<h2 class="bold-medium">Follow these steps to serve a claim:</h2>

<ol class="form-group steps">
  <li>Download the sealed claim form<br />
    <a target="_blank" href="/public/documents/N1-form-sealed.pdf" class="download" style="margin-top:8px; display: inline-block">Sealed claim form</a> (PDF, 123 KB)
  </li>
  <li>Send the form, particulars of claim and <a target="_blank" href="https://formfinder.hmctsformfinder.justice.gov.uk/n9-eng.pdf">a response pack</a> (PDF, 266 KB) to the defendant within 4 months of the date of issue.</li>
  <li>Confirm service online within 21 days.<br />
      <a class="button" href="certificate" role="button" style="margin-top:8px">Confirm service</a>
  </li>
</ol>

<p> Download your sealed claim form at any time by logging in to the Manage your claims page.</p>

<div class="form-group">
  <a class="button secondary-button" href="start" role="button">Issue a new claim</a>
</div>

<p><a href="email" role="button">Example - email</a></p>
<p><a href="dashboard" role="button">Example - dashboard</a></p>


{% endblock %}
