{% extends "prototype-july2-2017/index-full-width.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}
<h1 class="heading-large">Check the claim details</h1>

<p>Make sure this information is correct before you issue. </p>

<form action="claim-submitted" id="form" method="post" class="form-group">

<div class="heading-medium">Your organisation's details</div>
  <div>
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Organisation name</div>
      <div class="column-one-half if-empty">
        {% if data['rep_company_name'] %} {{ data['rep_company_name'] }} {% endif %}
      </div>
      <div class="column-one-quarter"><a class="right" href="representative-name">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Address</div>
      <div class="column-one-half if-empty">
        {% if data['rep_AddressLine1'] %} {{ data['rep_AddressLine1'] }}, {% endif %}
        {% if data['rep_AddressLine2'] %} {{ data['rep_AddressLine2'] }},{% endif %}
        {% if data['rep_city'] %} {{ data['rep_city'] }}, {% endif %}
        {% if data['rep_Postcode'] %} {{ data['rep_Postcode'] }} {% endif %}
      </div>
    </div>
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Phone number</div>
      <div class="column-one-half if-empty">{% if data['rep_phone_number'] %} {{ data['rep_phone_number'] }} {% endif %}</div>
      <div class="column-one-quarter"><a class="right" href="representative-contact">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Email</div>
      <div class="column-one-half if-empty">{% if data['rep_email'] %} {{ data['rep_email'] }} {% endif %}</div>
    </div>
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">DX address</div>
      <div class="column-one-half if-empty">{% if data['rep_dx_number'] %} {{ data['rep_dx_number'] }} {% endif %}</div>
    </div>
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Your reference</div>
      <div class="column-one-half if-empty">{% if data['claimant_individual_reference'] %} {{ data['claimant_individual_reference'] }} {% endif %}</div>
      <div class="column-one-quarter"><a class="right" href="claimant-individual-reference">Change</a></div>
    </div>
    {% if data['defendant_reference'] %}
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Defendant's reference</div>
      <div class="column-one-half if-empty">{{ data['defendant_reference'] }}</div>
      <div class="column-one-quarter"><a class="right" href="claimant-individual-reference">Change</a></div>
    </div>
    {% endif %}
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Preferred court</div>
      <div class="column-one-half if-empty">{% if data['county_court'] %} {{ data['county_court'] }} {% endif %}</div>
      <div class="column-one-quarter"><a class="right" href="preferred-court">Change</a></div>
    </div>
  </div>

  {% for claimant in claimants %}
  <div class="heading-medium">Claimant {{ claimant.claimantNo }} details</div>
  {% if claimant.claimantName %}
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Name</div>
      <div class="column-one-half if-empty">
        {{ claimant.claimantName }}
      </div>
      <div class="column-one-quarter"><a class="right" href="claimant-name">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Address</div>
      <div class="column-one-half if-empty">
        {% if claimant.claimantAddress %} {{ claimant.claimantAddress }} {% endif %}
      </div>
      <div class="column-one-quarter"><a class="right" href="claimant-address">Change</a></div>
    </div>

    {% if claimant.friendName %}
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Litigation friend's name</div>
      <div class="column-one-half if-empty">
        {{ claimant.friendName }}
      </div>
      <div class="column-one-quarter"><a class="right" href="litigation-friend-name">Change</a></div>
    </div>
      {% if claimant.friendAddress %} 
      <div class="task-list-item">
        <div class="column-one-quarter form-hint">Litigation friend's address</div>
        <div class="column-one-half if-empty">
          {{ claimant.friendAddress }} 
        </div>
        <div class="column-one-quarter"><a class="right" href="claimant-litigation-address-same">Change</a></div>
      </div>
      {% endif %}
      
    {% endif %}

  {% endif %}


  {% endfor %}


  {% for defendant in defendants %}
  <div class="heading-medium">Defendant {{ defendant.defendantNo }} details</div>


    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Name</div>
      <div class="column-one-half if-empty">{{ defendant.defendantName }}</div>
      <div class="column-one-quarter"><a class="right" href="defendant-type">Change</a></div>
    </div>

    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Address</div>
      <div class="column-one-half if-empty">{{ defendant.defendantAddress}}</div>
      <div class="column-one-quarter"><a class="right" href="defendant-details">Change</a></div>
    </div>
    {% if defendant.solicitor != '-' %}
      <div class="task-list-item">
        <div class="column-one-quarter form-hint">Solicitor</div>
        <div class="column-one-half if-empty">{{ defendant.solicitor }}</div>
        <div class="column-one-quarter"><a class="right" href="defendant-service-address">Change</a></div>
      </div>
    {% endif %}
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Service address</div>
      <div class="column-one-half if-empty">{{ defendant.serviceAddress }}</div>
    </div>

  {% if ( defendant.defendantNo == 1 ) and ( jursidiction ) %}

    {% if jursidiction == 'abroad' %}
      <div class="task-list-item">
        <div class="column-one-quarter form-hint">Jurisdiction statement</div>
        <div class="column-one-half if-empty">
          <p>I state that each claim made against the defendant to be served and included in the claim form is a claim which the Court has power to determine under the Civil Jurisdiction and Judgments Act 1982 or the Lugano Convention.</p>
          <p>And no proceedings are pending between these parties for this claim in the United Kingdom or another Convention territory.</p>
          <p>And the defendant is domiciled in Spain.</p>
        </div>
      </div>
    {% else %}
      <div class="task-list-item">
        <div class="column-one-quarter form-hint">Jurisdiction statement</div>
        <div class="column-one-half if-empty">
          <p>I state that each claim made against the defendant to be served and included in the claim form is a claim which the Court has power to determine under the Civil Jurisdiction and Judgments Act 1982.</p>
          <p>And no proceedings are pending between these parties for this claim in the United Kingdom.</p>
          <p>And the defendant is domiciled in the United Kingdom.</p>
        </div>
      </div>
    {% endif %}


  {% endif %}


  {% endfor %}

  <div class="heading-medium">About this claim</div>
  <div class="task-list-item">
    <div class="column-one-quarter form-hint">Brief details of claim</div>
    <div class="column-one-half if-empty">{% if data['claim_details'] %} {{ data['claim_details'] }} {% endif %}</div>
    <div class="column-one-quarter"><a class="right" href="claim-details">Change</a></div>
  </div>
  <div class="form-group">
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Claim amount</div>
      <div class="column-one-half if-empty">{% if claimType != 'specified'  %} To be assessed {% else %} {{ value }} {% endif %}</div>
      <div class="column-one-quarter"><a class="right" href="claim-amount">Change</a></div>
    </div>

    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Statement of value</div>
      <div class="column-one-half if-empty">
        {% if data['lower_value'] == '' and data['higher_value'] == '' and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">The claimant cannot state the value of the claim.</span>
        {% endif %}

        {% if data['lower_value'] and data['higher_value'] and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        <span class="form-group">The claimant estimates the claim to be worth more than £{{ data['lower_value'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] == '' and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as general damages for pain, suffering and loss of amenity.</span>
        <span class="form-group">The claimant can't state the value of the claim.</span>
        {% endif %}

        {% if data['lower_value'] and data['higher_value'] and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as general damages for pain, suffering and loss of amenity.</span>
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        <span class="form-group">The claimant estimates the claim to be worth more than £{{ data['lower_value'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'no'  %}
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as general damages for pain, suffering and loss of amenity.</span>
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] == '' and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-group">This claim is for housing disrepair and includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-group">The cost of any claim for damages is {{ data['other_damages'] }}.</span>
        <span class="form-group">The claimant can't state the value of the claim.</span>
        {% endif %}

        {% if data['lower_value'] and data['higher_value'] and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-label">This claim is for housing disrepair and includes an order for the landlord to carry out work.</span>
        <span class="form-label">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-label">The cost of any claim for damages is {{ data['other_damages'] }}.</span>
        <span class="form-label">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        <span class="form-label">The claimant estimates the claim to be worth more than £{{ data['lower_value'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-group">This claim is for housing disrepair and includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-group">The cost of any claim for damages is {{ data['other_damages'] }}.</span>
        <span class="form-group">The claimant expects to recover up to [higher value entered].</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] == '' and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as damages for pain, suffering and loss of amenity.</span>
        <span class="form-group">This is also a claim for housing disrepair which includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}. {% if data['other_damages'] != 'not claiming'  %} [The cost of any claim for damages is {{ data['other_damages'] }}. {% endif %}</span>
        <span class="form-group">The claimant can't state the value of the claim.</span>
        {% endif %}

        {% if data['lower_value'] and data['higher_value'] and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'yes' %}
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as damages for pain, suffering and loss of amenity.</span>
        <span class="form-group">This is also a claim for housing disrepair which includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        <span class="form-group">The claimant estimates the claim to be worth more than £{{ data['lower_value'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'yes' %}
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as damages for pain, suffering and loss of amenity.</span>
        <span class="form-group">This is also a claim for housing disrepair which includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}. {% if data['other_damages'] != 'not claiming'  %} [The cost of any claim for damages is {{ data['other_damages'] }}. {% endif %}</span>
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        {% endif %}
      </div>

      <div class="column-one-quarter"><a class="right" href="personal-injury">Change</a></div>

    </div>

    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Issue fee</div>
      <div class="column-one-half if-empty">£{{ issueFeeAmount }}</div>
    </div>
    {% if data['helpFeesRef'] %}
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">Help with fees reference</div>
      <div class="column-one-half if-empty">{{ data['helpFeesRef'] }}</div>
    </div>
    {% endif %}
    <div class="task-list-item">
      <div class="column-one-quarter form-hint">PBA number</div>
      <div class="column-one-half if-empty">{{ data['fee_account'] }}</div>
    </div>

  </div>


  <div class="form-group">
    <h1 class="heading-large">Statement of truth</h1>
    <label>The claimant believes that the facts in this claim form are true.<br />I'm duly authorised by the claimant to sign this statement.</label>
  </div>
  
  <div class="form-group form-group column-two-thirds" style="padding-left: 0">
    <div class="form-group">
      <label class="form-label" for="signer_name">Name</label>
      <input type="text" class="form-control" id="signer_name" name="signer_name" value="{{ data['signer_name'] }}">
    </div>

    <div class="form-group">
      <label class="form-label" for="signer-role">Your role</label>
      <input class="form-control" id="signer-role" name="signer-role" type="text"value="{{ data['signer_role'] }}" {{ data['signer_role'] }}>
    </div>

    <input type="submit" id="submit" class="button" value="Issue claim">
  
  </form>
  </div>



{% endblock %}
