{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Jurisdiction statement {% endblock %} {% block main_content %}

<h1 class="heading-large">Jurisdiction statement</h1>

<p>Confirm why you don’t need court permission to serve your claim out of jurisdiction.</p>

<form action="jurisdiction-statements" id="form" method="post" class="form-group">
  <fieldset class="form-group">

      <div class="multiple-choice">
        <input id="statement" name="statement" type="checkbox" value="true">
        <label for="statement" style="margin-top: -15px">
          <p>I state that each claim made against the defendant to be served and included in the claim form is a claim which the Court has power to determine under the <a href="http://www.legislation.gov.uk/ukpga/1982/27/contents">Civil Jurisdiction and Judgments Act 1982</a> or the <a href="https://curia.europa.eu/common/recdoc/convention/en/c-textes/lug-idx.htm">Lugano Convention</a>.</p>
          <p>And no proceedings are pending between these parties for this claim in the United Kingdom or another Convention territory.</p>
          <p>And the defendant is domiciled in {{ strCountry or 'Greece' }}.</p>
        </label>
      </div>


  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
