{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Choose how to pay</h1>
<form action="choose-how-to-pay" id="form" method="post" class="form-group">
  <fieldset class="form-group">
    <legend class="visually-hidden">Choose how to pay</legend>

    <div class="multiple-choice">
      <input id="card" name="paymentType" type="radio" value="card" {{ checked('paymentType','card') }}>
      <label for="card">Credit card</label>
    </div>

    <div class="multiple-choice">
      <input id="account" name="paymentType" type="radio" value="account" {{ checked('paymentType','account') }}>
      <label for="account">Fee Account</label>
    </div>

  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and Continue">
  </div>
</form>
{% endblock %}
