{% extends "prototype-july2-2017/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Enter claim value</h1>

<p class="bold-small">Your fee will be calculated based on the higher value.</p>
<form action="claim-total" method="post">
  <div class="form-group">
    <div class="column-one-half no-padding">
      <span class="form-block">Lower value (optional)</span>
      <input type="text" class="form-control form-control-3-4 pound" name="lower_value" id="lower_value" value="{{ data['lower_value'] }}">
    </div>
    <div class="column-one-half no-padding">
      <span class="form-block">Higher value</span>
      <input type="text" class="form-control form-control-3-4 pound" name="higher_value" id="higher_value" value="{{ data['higher_value'] }}">
    </div>
  </div>

  <div class="form-group">
    <div class="multiple-choice" data-target="max-fee">
      <input id="card" name="claim_amount_checkbox" type="checkbox" value="cannot" {{ checked('claim_amount_checkbox','cannot') }}>
      <label for="card">I can't state the value of the claim</label>
    </div>
    <div id="max-fee" class="panel panel-border-narrow js-hidden" aria-hidden="true">
      <p>You'll be charged the maximum fee</p>
    </div>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>


{% endblock %}
