{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}
<h1 class="heading-large">Check the claim details</h1>

<p>Make sure this information is correct before you issue. </p>

<form action="statement-of-truth" id="form" method="post" class="form-group">

<div class="heading-medium">Your organisation's details</div>
  <div>
    <div class="task-list-item">
      <div class="column-third form-hint">Organisation name</div>
      <div class="column-third if-empty">
        {% if data['rep_company_name'] %} {{ data['rep_company_name'] }} {% endif %}
      </div>
      <div class="column-third"><a class="right" href="representative-name">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Address</div>
      <div class="column-third if-empty">
        {% if data['rep_AddressLine1'] %} {{ data['rep_AddressLine1'] }}, {% endif %}
        {% if data['rep_AddressLine2'] %} {{ data['rep_AddressLine2'] }},{% endif %}
        {% if data['rep_city'] %} {{ data['rep_city'] }}, {% endif %}
        {% if data['rep_Postcode'] %} {{ data['rep_Postcode'] }} {% endif %}
      </div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Phone number</div>
      <div class="column-third if-empty">{% if data['rep_phone_number'] %} {{ data['rep_phone_number'] }} {% endif %}</div>
      <div class="column-third"><a class="right" href="representative-contact">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Email</div>
      <div class="column-third if-empty">{% if data['rep_email'] %} {{ data['rep_email'] }} {% endif %}</div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">DX address</div>
      <div class="column-third if-empty">{% if data['rep_dx_number'] %} {{ data['rep_dx_number'] }} {% endif %}</div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Your reference number</div>
      <div class="column-third if-empty">{% if data['claimant_individual_reference'] %} {{ data['claimant_individual_reference'] }} {% endif %}</div>
      <div class="column-third"><a class="right" href="claimant-individual-reference">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Preferred court</div>
      <div class="column-third if-empty">{% if data['county_court'] %} {{ data['county_court'] }} {% endif %}</div>
      <div class="column-third"><a class="right" href="preferred-court">Change</a></div>
    </div>
  </div>

  <div class="heading-medium">Claimant details</div>
  {% if data['claimant_name'] %}
    <div class="task-list-item">
      <div class="column-third form-hint">Name</div>
      <div class="column-third if-empty">
        {% if data['claimant_title'] %} {{ data['claimant_title'] }} {% endif %}
        {% if data['claimant_name'] %} {{ data['claimant_name'] }} {% endif %}
      </div>
      <div class="column-third"><a class="right" href="what-type-of-claimant">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Address</div>
      <div class="column-third if-empty">
        {% if data['claimant_AddressLine1'] %} {{ data['claimant_AddressLine1'] }}, {% endif %}
        {% if data['claimant_AddressLine2'] %} {{ data['claimant_AddressLine2'] }},{% endif %}
        {% if data['claimant_city'] %} {{ data['claimant_city'] }}, {% endif %}
        {% if data['claimant_Postcode'] %} {{ data['claimant_Postcode'] }} {% endif %}
      </div>
      <div class="column-third"><a class="right" href="claimant-address">Change</a></div>
    </div>
  {% endif %}
  {% if data['claimant_company_name'] %}
    <div class="task-list-item">
      <div class="column-third form-hint">Organisation name</div>
      <div class="column-third if-empty">
        {% if data['claimant_company_name'] %} {{ data['claimant_company_name'] }} {% endif %}
      </div>
      <div class="column-third"><a class="right" href="what-type-of-claimant">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Companies House number</div>
      <div class="column-third if-empty">{% if data['claimant_company_number'] %} {{ data['claimant_company_number'] }} {% endif %}</div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Address</div>
      <div class="column-third if-empty">
        {% if data['claimant_AddressLine1'] %} {{ data['claimant_AddressLine1'] }}, {% endif %}
        {% if data['claimant_AddressLine2'] %} {{ data['claimant_AddressLine2'] }},{% endif %}
        {% if data['claimant_city'] %} {{ data['claimant_city'] }}, {% endif %}
        {% if data['claimant_Postcode'] %} {{ data['claimant_Postcode'] }} {% endif %}
      </div>
      <div class="column-third"><a class="right" href="claimant-address">Change</a></div>
    </div>
  {% endif %}


  {% for defendant in defendants %}
  <div class="heading-medium">Defendant {{ defendant.defendantNo }} details</div>
    <div class="task-list-item">
      <div class="column-third form-hint">Name</div>
      <div class="column-third if-empty">{{ defendant.defendantName }}</div>
      <div class="column-third"><a class="right" href="defendant-type">Change</a></div>
    </div>

    {% if defendant.defendantCompanyNumber != '-' %}
      <div class="task-list-item">
        <div class="column-third form-hint">Companies House number</div>
        <div class="column-third if-empty">{{ defendant.defendantCompanyNumber }}</div>
        <div class="column-third"><a class="right" href="defendant-type">Change</a></div>
      </div>
    {% endif %}
    <div class="task-list-item">
      <div class="column-third form-hint">Address</div>
      <div class="column-third if-empty">{{ defendant.defendantAddress}}</div>
      <div class="column-third"><a class="right" href="defendant-details">Change</a></div>
    </div>
    {% if defendant.solicitor != '-' %}
      <div class="task-list-item">
        <div class="column-third form-hint">Solicitor</div>
        <div class="column-third if-empty">{{ defendant.solicitor }}</div>
        <div class="column-third"><a class="right" href="defendant-service-address">Change</a></div>
      </div>
    {% endif %}
    <div class="task-list-item">
      <div class="column-third form-hint">Service address</div>
      <div class="column-third if-empty">{{ defendant.serviceAddress }}</div>
    </div>
  {% endfor %}

  <div class="heading-medium">About this claim</div>
  <div class="task-list-item">
    <div class="column-third form-hint">Brief details of claim</div>
    <div class="column-third if-empty">{% if data['claim_details'] %} {{ data['claim_details'] }} {% endif %}</div>
    <div class="column-third"><a class="right" href="claim-details">Change</a></div>
  </div>
  <div class="form-group">
    <div class="task-list-item">
      <div class="column-third form-hint">Claim amount</div>
      <div class="column-third if-empty">{% if claimType != 'specified'  %} To be assessed {% else %} {{ value }} {% endif %}</div>
      <div class="column-third"><a class="right" href="claim-amount">Change</a></div>
    </div>

    <div class="task-list-item">
      <div class="column-third form-hint">Statement of value</div>
      <div class="column-third if-empty">
        {% if data['lower_value'] == '' and data['higher_value'] == '' and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">The claimant cannot state the value of the claim.</span>
        {% endif %}

        {% if data['lower_value'] and data['higher_value'] and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">The claimant expects to recover more than £{{ data['lower_value'] }} but not more than £{{ data['higher_value'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] == '' and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">The claimant cannot state the value of the claim.</span>
        <span class="form-group">This claim is for personal injury. The claimant expects to recover {{ data['pain_value'] }} as general damages for pain, suffering and loss of amenity.</span>
        {% endif %}

        {% if data['lower_value'] and data['higher_value'] and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'no' %}
        <span class="form-group">The claimant expects to recover more than £{{ data['lower_value'] }} but not more than £{{ data['higher_value'] }}.</span>
        <span class="form-group">This claim is for personal injury. The claimant expects to recover {{ data['pain_value'] }} as general damages for pain, suffering and loss of amenity.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'no'  %}
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as general damages for pain, suffering and loss of amenity.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] == '' and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-group">The claimant can't state the value of the claim.</span>
        <span class="form-group">This claim is for housing disrepair and includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-group">The cost of any claim for damages is {{ data['other_damages'] }}.</span>
        {% endif %}

        {% if data['lower_value'] and data['higher_value'] and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-label">The claimant expects to recover more than £{{ data['lower_value'] }} but not more than £{{ data['higher_value'] }}.</span>
        <span class="form-label">This claim is for housing disrepair and includes an order for the landlord to carry out work.</span>
        <span class="form-label">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-label">The cost of any claim for damages is {{ data['other_damages'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] and data['personal_injury'] == 'no' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-group">The claimant expects to recover up to £{{ data['higher_value'] }}.</span>
        <span class="form-group">This claim is for housing disrepair and includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-group">The cost of any claim for damages is {{ data['other_damages'] }}.</span>
        {% endif %}

        {% if data['lower_value'] and data['higher_value'] and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-group">The claimant expects to recover more than £{{ data['lower_value'] }} but not more than £{{ data['higher_value'] }}.</span>
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as damages for pain, suffering and loss of amenity</span>
        <span class="form-group">This is also a claim for housing disrepair which includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-group">The cost of any claim for damages is {{ data['other_damages'] }}.</span>
        {% endif %}

        {% if data['lower_value'] == '' and data['higher_value'] == '' and data['personal_injury'] == 'yes' and data['housing_disrepair'] == 'yes'  %}
        <span class="form-group">The claimant can't state the value of the claim.</span>
        <span class="form-group">This claim is for personal injury.</span>
        <span class="form-group">The claimant expects to recover {{ data['pain_value'] }} as damages for pain, suffering and loss of amenity.</span>
        <span class="form-group">This is also a claim for housing disrepair which includes an order for the landlord to carry out work.</span>
        <span class="form-group">The cost of repairs or other work is {{ data['general_damages'] }}.</span>
        <span class="form-group">The cost of any claim for damages is {{ data['other_damages'] }}.</span>
        {% endif %}
      </div>

      <div class="column-third"><a class="right" href="personal-injury">Change</a></div>

    </div>

    <div class="task-list-item">
      <div class="column-third form-hint">Issue fee</div>
      <div class="column-third if-empty">£{{ issueFeeamount }}</div>
    </div>
  </div>

  <!--<div class="form-group">
    <div class="heading-medium" style="padding-top: 50px;">Draft claim form</div>
    <a target="_blank" href="/public/documents/N1-form-draft.pdf" role="button">

    <img class="form-label" src="/public/images/sealed-claim.png" alt="sealed claim form"><p>Preview draft claim form</a> (this will open in a new window)</p>
  </div>

-->

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>



{% endblock %}
