{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}
<h1 class="heading-large"><span class="form-hint">Defendant {% if defendants.length > 0 %} {{ defendants.length + 1 }} {% endif %} representative</span>
  Address for service
</h1>
<form action="defendant-reps-address" method="post">
  <fieldset class="form-group">
    <legend class="visually-hidden">Address</legend>

    <div class="form-group-compound">
      <label for="defendant_rep_company" class="form-label">Organisation name</label>
      <input type="text" class="form-control" id="defendant_rep_company" name="defendant_rep_company" value="{{ data['defendant_rep_company'] }}">
    </div>

    <div class="form-group-compound">
      <label for="defendant_service_address1" class="form-label">Address line 1</label>
      <input type="text" class="form-control" id="defendant_service_address1" name="defendant_service_address1" value="{{ data['defendant_service_address1'] }}">
    </div>

    <div class="form-group-compound">
      <label for="defendant_service_address2" class="form-label">Address line 2 (optional)</label>
      <input type="text" class="form-control" id="defendant_service_address2" name="defendant_service_address2" value="{{ data['defendant_service_address2'] }}">
    </div>

    <div class="form-group-compound">
      <label for="defendant_service_city" class="form-label">Town or city (optional)</label>
      <input type="text" class="form-control" id="defendant_service_city" name="defendant_service_city" value="{{ data['defendant_service_city'] }}">
    </div>

    <div class="form-group">
      <label for="defendant_service_postcode" class="form-label">Postcode</label>
      <input type="text" class="form-control form-control-1-4" id="defendant_service_postcode" name="defendant_service_postcode" value="{{ data['defendant_service_postcode'] }}">
    </div>

  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
