{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

  <form action="fixed-interest" method="post" autocomplete="off">
    <h1 class="heading-large">Interest</h1>

    <p>You can also claim interest on behalf of the claimant. The court will decide if they're entitled to it.</p>

    <p>Unless you know that a different rate applies, you can claim 8%.</p>

    <fieldset class="form-group">
      <legend class="visuallyhidden">Interest</legend>

      <p class="bold-medium">What rate of interest are you claiming?</p>

      <div class="multiple-choice">
        <input id="8_percent" type="radio" name="interest-rate" value="8_percent" {{ checked('interest_rate','8_percent') }}>
        <label for="8_percent">8% (the standard amount)
        </label>
      </div>

      <div class="multiple-choice" data-target="different">
        <input id="different_rate" name="interest-rate" type="radio" value="different_rate" {{ checked('interest_rate','different_rate') }}>
        <label for="different">A different rate</label>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="different">
        <label class="form-label" for="different_rate_value">Rate you're claiming</label>
        <input class="form-control form-control-1-8 form-group-compound" name="rate" type="text" id="different_rate_value" value="{{ data['different_rate_value'] }}"> %
        <label class="form-label" for="different_rate_why">Why you’re entitled to this rate</label>
        <input class="form-control" name="different_rate_why" type="text" id="different_rate_why" value="{{ data['different_rate_value'] }}">
      </div>

      <div class="multiple-choice">
        <input id="no_interest" type="radio" name="interest_rate" value="No interest" {{ checked('interest-rate','no_interest') }}>
        <label for="no_interest">I don't want to claim interest</label>
      </div>
    </fieldset>



    <div class="form-group">
      <input type="submit" class="button" value="Save and continue"/>
    </div>

  </form>

{% endblock %}
