{% extends "../layout.html" %} {% block page_title %} Claim Issue {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-full">
      <a class="link-back pointer" onclick="goBack()">Back</a>

      <script>
          function goBack() {
              window.history.back();
          }
      </script>
      {% block main_content %}
      {% endblock %}
    </div>
    <div class="column-one-third">
      {% block side_content %}
      {% endblock %}
    </div>
  </div>
</main>

{% endblock %}
