{% extends "prototype-july2-2017/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Login</h1>

<form action="start" method="post">
  <div class="form-group">
    <label class="form-label" for="claimant_title">Username</label>
    <input type="text" class="form-control" id="claimant_title" name="claimant_title">
  </div>
  <div class="form-group">
    <label class="form-label" for="password">Password</label>
    <input type="password" class="form-control" id="password" name="claimant_title">
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>


{% endblock %}
