{% extends "prototype-july2-2017/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Enter your details</h1>

<form action="representative-address" method="post">
  <div class="form-group">
    <label class="form-label" for="rep_company_name">Your company name</label>
    <input type="text" class="form-control" id="rep_company_name" name="rep_company_name" value="{{ data['rep_company_name'] }}">
  </div>

  <div class="form-group">
    <label class="form-label" for="rep_name">Your name</label>
    <textarea type="text" class="form-control" id="rep_name" name="rep_name">{{ data['rep_name'] }}</textarea>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
