{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}
<h1 class="heading-large">
  {% if defendants.length > 0 %}
    <span class="form-hint">Defendant {{ defendants.length + 1 }}</span>
  {% endif %}
  Choose defendant type</h1>

{% if defendants.length == 0 %}
<p>You'll have a chance to add more defendants later.</p>
{% endif %}

<form action="defendant-details" id="form" method="post" class="form-group">
    <fieldset class="form-group">
      <div class="multiple-choice" data-target="company-name">
          <input id="company" name="defendantType" type="radio" value="company" {{ checked('defendantType','company') }}>
          <label for="company">An organisation</label>
      </div>

      <div id="company-name" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
        <div class="form-group">
          <label class="form-label" for="defendant_company_name">Organisation name</label>
          <input class="form-control" type="text" id="defendant_company_name" name="defendant_company_name" value="{{ data['defendant_company_name'] }}">
        </div>
      </div>

      <div class="multiple-choice" data-target="trader-name">
          <input id="trader" name="defendantType" type="radio" value="trader" {{ checked('defendantType','trader') }}>
          <label for="trader">A sole trader</label>
      </div>

      <div id="trader-name" class="panel panel-border-narrow js-hidden form-group" aria-hidden="true">
        <div class="form-group">
          <label class="form-label" for="defendant_name2">Full name</label>
          <textarea type="text" class="form-control" id="defendant_name2" name="defendant_name2" value="{{ data['defendant_name2'] }}" style="height: 38px;">{{ data['defendant_name'] }}</textarea>
        </div>
        <div class="form-group">
          <label class="form-label" for="defendant_company_name2">Trading as (optional)</label>
          <input class="form-control" type="text" id="defendant_company_name2" name="defendant_company_name2" value="{{ data['defendant_company_name2'] }}">
        </div>
      </div>

      <div class="multiple-choice" data-target="individual-name">
          <input id="individual" name="defendantType" type="radio" value="individual" {{ checked('defendantType','individual') }}>
          <label for="individual">An individual</label>
      </div>

      <div id="individual-name" class="panel panel-border-narrow js-hidden" aria-hidden="true">
        <div class="form-group">
          <label class="form-label" for="defendant_name">Full name</label>
          <textarea type="text" class="form-control" id="defendant_name" name="defendant_name" value="{{ data['defendant_name'] }}" style="height: 38px;">{{ data['defendant_name'] }}</textarea>
        </div>
      </div>

    </fieldset>

    <div class="form-group">
      <input type="submit" class="button" value="Save and continue">
    </div>
</form>
{% endblock %}
