{% extends "prototype-july2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Has the defendant got a legal representative who's instructed to accept service?</h1>
<form action="defendant-represented" id="form" method="post" class="form-group">
  <fieldset class="form-group inline">
    <legend class="visually-hidden">Has the defendant got a representative who's instructed to accept service?</legend>

    <div class="multiple-choice" data-target="defendant-represented-yes">
      <input id="company" name="defendantRepresented" type="radio" value="yes" {{ checked('defendantRepresented','yes') }}>
      <label for="company">Yes</label>
    </div>

    <div class="multiple-choice">
      <input id="individual" name="defendantRepresented" type="radio" value="no" {{ checked('defendantRepresented','no') }}>
      <label for="individual">No</label>
    </div>

    <div id="defendant-represented-yes" class="panel panel-border-narrow js-hidden" aria-hidden="true">
      <div class="form-group">
        <label for="defendant_rep_company" class="form-label">Representative's organisation name</label>
        <input  type="text" class="form-control" id="defendant_rep_company" name="defendant_rep_company" value="{{ data['defendant_rep_company'] }}">
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>
{% endblock %}
