{% extends "prototype-oct2-2017/dashboard-layout.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}


<h1 class="heading-large">
Manage your claims
</h1>

<a href="start" class="button button-start" id="new-claim">Issue a new claim</a>


<p>Find a claim by entering the claim number on this page.</p>

<p>Once you've found a claim you can:</p>

  <ul class="list list-bullet">
    <li>confirm service to the court online</li>
    <li>download any documents related to the claim</li>
  </ul>

  <h1 class="heading-medium" style="margin-bottom: 0">Find a claim</h2>

<p class="form-hint" style="margin-top: 0; margin-bottom: 10px;">Enter the claim number</p>

<form id="singular" action="dashboard/claim-details" class="searchfield" method="post">
  <input type="search" name="search" id="search" class="search-input">
  <button type="submit" class="search-submit" title="search">Search</button>
</form>

{% endblock %}

{% block extra_js_1 %}

<script>
$(function(){
    $("#search").focus();
});
</script>

{% endblock %}
