{% extends "prototype-jan-2018/index-govuk.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Download your documents</h1>
<p>You have been served a claim from Slater & Gordon LLP.</p>

<p><a href="/public/documents/N1-form-sealed.pdf">Download claim form</a></p>
<p><a href="">Download schedule of loss</a></p>
<p><a href="">Download medical report</a></p>

<p>If you are unsure this is a genuine communication, <a href="">contact HM Courts &amp; Tribunals Service</a> for verification.</p>

{% endblock %}