{% extends "prototype-nov2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">You've confirmed service</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: 000LR095 </h2>
  <p class="form-group-compound">Issued: {{ now | date("subtract", 3, "months") | date( "DD MMMM YYYY" ) }}</p>
</div>

<p>You can view or print your submission from the <a href='../dashboard/claim-details?claim-status=2'>claim details</a> page.</p>

<p><a class="button" href="../dashboard/claim-details?claim-status=2" role="button">View this claim</a></p>

<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}
