{% extends "layout.html" %}{% block home_link %} / {% endblock %} {% block page_title %} Claim Issue {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% block main_content %}
      <h1 class="heading-large">Issue a claim</h1>

      <div><a href="prototype-MVP-2017/start" role="button">Sprint 0 - Prototype 2017</a></div>
      <details>
        <summary>
          <span class="summary">Pages</span>
        </summary>

        <ul class="list-bullet">
          <li><a href="prototype-MVP-2017/representative-name" role="button">Create an account</a></li>
          <li><a href="prototype-MVP-2017/representative-address" role="button">Your firm address</a></li>
          <li><a href="prototype-MVP-2017/representative-contact" role="button">Your firm contact details</a></li>
          <li><a href="prototype-MVP-2017/claimant-individual-reference" role="button">Your reference for this claim</a></li>
          <li><a href="prototype-MVP-2017/preferred-court" role="button">Choose a county court</a></li>
          <li><a href="prototype-MVP-2017/what-type-of-claimant" role="button">Choose claimant type</a></li>
          <li><a href="prototype-MVP-2017/claimant-address" role="button">Claimant Address</a></li>
          <li><a href="prototype-MVP-2017/defendant-type" role="button">Choose defendant type</a></li>
          <li><a href="prototype-MVP-2017/defendant-details" role="button">Defendant Address</a></li>
          <li><a href="prototype-MVP-2017/defendant-service-address" role="button">Defendant Service address</a></li>
          <li><a href="prototype-MVP-2017/claim-details" role="button">Summarise the claim</a></li>
          <li><a href="prototype-MVP-2017/type-of-claim" role="button">Type of claim</a></li>
          <li><a href="prototype-MVP-2017/claim-amount" role="button">Enter claim value</a></li>
          <li><a href="prototype-MVP-2017/personal-injury" role="button">Is it a personal injury claim?</a></li>
          <li><a href="prototype-MVP-2017/housing-disrepair" role="button">Is it a claim for housing disrepair?</a></li>
          <li><a href="prototype-MVP-2017/claim-total" role="button">Calculating your fee</a></li>
          <li><a href="prototype-MVP-2017/claim-details-summary" role="button">Check the claim details</a></li>
          <li><a href="prototype-MVP-2017/client-sign" role="button">Do you want to download a draft of the claim form for your client to sign?</a></li>
          <li><a href="prototype-MVP-2017/statement-of-truth" role="button">Statement of truth</a></li>
          <li><a href="prototype-MVP-2017/choose-how-to-pay" role="button">Choose how to pay</a></li>
          <li><a href="prototype-MVP-2017/pay-by-account" role="button">Pay by Fee Account</a></li>
          <li><a href="prototype-MVP-2017/pay-by-card" role="button">Pay by credit card</a></li>
          <li><a href="prototype-MVP-2017/claim-submitted" role="button">Your claim has been issued</a></li>
        </ul>
      </details>

      <p><a href="prototype-may-2017/start" role="button">Sprint 2 - Prototype May 2017</a></p>
      <p><a href="prototype-june-2017/start" role="button">Sprint 3 - Prototype June 2017</a></p>
      <div><a href="prototype-june2-2017/start" role="button">Sprint 4 - Prototype June 2 2017</a></div>
      <details>
        <summary>
          <span class="summary">Pages</span>
        </summary>
        <ul class="list-bullet">
          <li><a href="prototype-june2-2017/representative-name" role="button">Create an account</a></li>
          <li><a href="prototype-june2-2017/representative-address" role="button">Your firm address</a></li>
          <li><a href="prototype-june2-2017/representative-contact" role="button">Your firm contact details</a></li>
          <li><a href="prototype-june2-2017/claimant-individual-reference" role="button">Your reference for this claim</a></li>
          <li><a href="prototype-june2-2017/what-type-of-claimant" role="button">Choose claimant type</a></li>
          <li><a href="prototype-june2-2017/claimant-address" role="button">Claimant Address</a></li>
          <li><a href="prototype-june2-2017/defendant-type" role="button">Choose defendant type</a></li>
          <li><a href="prototype-june2-2017/defendant-details" role="button">Defendant Address</a></li>
          <li><a href="prototype-june2-2017/defendant-service-address" role="button">Defendant Service address</a></li>
          <li><a href="prototype-june2-2017/claim-details" role="button">Summarise the claim</a></li>
          <li><a href="prototype-june2-2017/claim-particulars" role="button">How do you intend to serve particulars of claim?</a></li>
          <li><a href="prototype-june2-2017/type-of-claim" role="button">Type of claim</a></li>
          <li><a href="prototype-june2-2017/claim-amount" role="button">Enter claim value</a></li>
          <li><a href="prototype-june2-2017/claim-interest" role="button">Do you want to claim interest?</a></li>
          <li><a href="prototype-june2-2017/personal-injury" role="button">Is it a personal injury claim?</a></li>
          <li><a href="prototype-june2-2017/housing-disrepair" role="button">Is it a claim for housing disrepair?</a></li>
          <li><a href="prototype-june2-2017/claim-total" role="button">Calculating your fee</a></li>
          <li><a href="prototype-june2-2017/claim-details-summary" role="button">Check the claim details</a></li>
          <li><a href="prototype-june2-2017/client-sign" role="button">Do you want to download a draft of the claim form for your client to sign?</a></li>
          <li><a href="prototype-june2-2017/statement-of-truth" role="button">Statement of truth</a></li>
          <li><a href="prototype-june2-2017/choose-how-to-pay" role="button">Choose how to pay</a></li>
          <li><a href="prototype-june2-2017/pay-by-account" role="button">Pay by Fee Account</a></li>
          <li><a href="prototype-june2-2017/pay-by-card" role="button">Pay by credit card</a></li>
          <li><a href="prototype-june2-2017/claim-submitted" role="button">Your claim has been issued</a></li>
        </ul>
      </details>

      <div><a href="prototype-july-2017/start" role="button">Sprint 5 - Prototype July 2017</a></div>
      <details>
        <summary>
          <span class="summary">Pages</span>
        </summary>

        <ul class="list-bullet">
          <li><a href="prototype-july-2017/representative-name" role="button">Create an account</a></li>
          <li><a href="prototype-july-2017/representative-address" role="button">Your firm address</a></li>
          <li><a href="prototype-july-2017/representative-contact" role="button">Your firm contact details</a></li>
          <li><a href="prototype-july-2017/claimant-individual-reference" role="button">Your reference for this claim</a></li>
          <li><a href="prototype-july-2017/preferred-court" role="button">Choose a county court</a></li>
          <li><a href="prototype-july-2017/what-type-of-claimant" role="button">Choose claimant type</a></li>
          <li><a href="prototype-july-2017/claimant-address" role="button">Claimant Address</a></li>
          <li><a href="prototype-july-2017/defendant-type" role="button">Choose defendant type</a></li>
          <li><a href="prototype-july-2017/defendant-details" role="button">Defendant Address</a></li>
          <li><a href="prototype-july-2017/defendant-service-address" role="button">Defendant Service address</a></li>
          <li><a href="prototype-july-2017/claim-details" role="button">Summarise the claim</a></li>
          <li><a href="prototype-july-2017/type-of-claim" role="button">Type of claim</a></li>
          <li><a href="prototype-july-2017/claim-amount" role="button">Enter claim value</a></li>
          <li><a href="prototype-july-2017/personal-injury" role="button">Is it a personal injury claim?</a></li>
          <li><a href="prototype-july-2017/housing-disrepair" role="button">Is it a claim for housing disrepair?</a></li>
          <li><a href="prototype-july-2017/claim-total" role="button">Calculating your fee</a></li>
          <li><a href="prototype-july-2017/claim-details-summary" role="button">Check the claim details</a></li>
          <li><a href="prototype-july-2017/client-sign" role="button">Do you want to download a draft of the claim form for your client to sign?</a></li>
          <li><a href="prototype-july-2017/statement-of-truth" role="button">Statement of truth</a></li>
          <li><a href="prototype-july-2017/choose-how-to-pay" role="button">Choose how to pay</a></li>
          <li><a href="prototype-july-2017/pay-by-account" role="button">Pay by Fee Account</a></li>
          <li><a href="prototype-july-2017/pay-by-card" role="button">Pay by credit card</a></li>
          <li><a href="prototype-july-2017/claim-submitted" role="button">Your claim has been issued</a></li>
        </ul>
      </details>

      <hr>
      <p><a href="prototype-june-2017/dashboard-test" role="button">Sprint 3 - Dashboard</a></p>

      {% endblock %}
    </div>
    {% block side_content %}
    {% endblock %}
  </div>
</main>

{% endblock %}
