{% extends "layout.html" %}{% block home_link %} / {% endblock %} {% block page_title %} Claim Issue {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  {% block errorSummary %}{% endblock %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% block main_content %}
      <h1 class="heading-large">Civil Money Claims</h1>

      <div><a href="current-features-to-be-built/login" role="button">Features to be released next</a></div>
      <details>
        <summary>
          <span class="summary">Pages</span>
        </summary>
        <ul class="list-bullet">
          <li><a href="current-features-to-be-built/login" role="button">Login</a></li>
          <li><a href="current-features-to-be-built/start" role="button">Issue civil court proceedings</a></li>
          <li><a href="current-features-to-be-built/representative-name" role="button">Enter your details</a></li>
          <li><a href="current-features-to-be-built/representative-address" role="button">Your firm address</a></li>
          <li><a href="current-features-to-be-built/representative-contact" role="button">Your firm contact details</a></li>
          <li><a href="current-features-to-be-built/claimant-individual-reference" role="button">Your reference for this claim</a></li>
          <li><a href="current-features-to-be-built/preferred-court" role="button">Choose a county court</a></li>
          <li><a href="current-features-to-be-built/claimant-name" role="button">Enter claimant name</a></li>
          <li><a href="current-features-to-be-built/what-type-of-claimant" role="button">Choose claimant type</a></li>
          <li><a href="current-features-to-be-built/claimant-address" role="button">Claimant Address</a></li>
          <li><a href="current-features-to-be-built/defendant-type" role="button">Choose defendant type</a></li>
          <li><a href="current-features-to-be-built/defendant-details" role="button">Defendant Address</a></li>
          <li><a href="current-features-to-be-built/defendant-represented" role="button">Is the defendant represented?</a></li>
          <li><a href="current-features-to-be-built/defendant-reps-address" role="button">Address for service</a></li>
          <li><a href="current-features-to-be-built/personal-injury" role="button">Is it a personal injury claim?</a></li>
          <li><a href="current-features-to-be-built/housing-disrepair" role="button">Is it a claim for housing disrepair?</a></li>
          <li><a href="current-features-to-be-built/claim-details" role="button">Summarise the claim</a></li>
          <li><a href="current-features-to-be-built/claim-amount" role="button">Enter claim value</a></li>
          <li><a href="current-features-to-be-built/claim-total" role="button">Your issue fee</a></li>
          <li><a href="current-features-to-be-built/claim-details-summary" role="button">Check the claim details</a></li>
          <li><a href="current-features-to-be-built/statement-of-truth" role="button">Statement of truth</a></li>
          <li><a href="current-features-to-be-built/choose-how-to-pay" role="button">Choose how to pay</a></li>
          <li><a href="current-features-to-be-built/pay-by-account" role="button">Pay by Fee Account</a></li>
          <li><a href="current-features-to-be-built/pay-by-card" role="button">Pay by credit card</a></li>
          <li><a href="current-features-to-be-built/pay-by-card-confirmation" role="button">Pay by credit card - confirmation</a></li>
          <li><a href="current-features-to-be-built/claim-submitted" role="button">Your claim has been issued</a></li>
        </ul>
      </details>

                  <hr class="form-group">

      {% endblock %}
    </div>
    {% block side_content %}
    {% endblock %}
  </div>
</main>

{% endblock %}
