{% extends "prototype-mar-2018/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %}
{% import "prototype-sept2-2017/address.html" as address%}
{% block main_content %}

<h1 class="heading-large"><span class="form-hint">Claimant: {% if data['claimant_name'] %} {{ data['claimant_title'] }} {{ data['claimant_name'] }} {% else %} {{ data['claimant_company_name'] }} {% endif %}</span>Address</h1>

<form method="post" action="claimant-suitability" class="form">


  <fieldset class="form-group">
    {{ address.lookup('claimant') }}
  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" id="continue-button" value="Save and continue">
  </div>

</form>

{% endblock %}
