{% extends "prototype-mar-2018/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">Your claim has been issued</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: 000LR095</h2>
  <p class="form-group-compound">Submitted: {{ today }}</p>
  <p>Issued: {{ issueDate }}</p>
  <p class="form-group-compound">Fee paid: {{ issueFeeAmount }}</p>
</div>

<p>We've emailed confirmation to:
  <span class="bold-small">{{ data['username'] }}</span>
</p>

<h2 class="bold-medium">Follow these steps to serve a claim:</h2>

<ol class="form-group steps">
  <li>Download the sealed claim form<br />
    <a target="_blank" href="/public/documents/N1-form-sealed.pdf" class="download" style="margin-top:8px; display: inline-block">Sealed claim form</a> (PDF, 123 KB)
  </li>
  <li>Send the form, particulars of claim{% if blnNeedsLitigationFriend %}, a <a target="_blank" href="http://formfinder.hmctsformfinder.justice.gov.uk/n235-eng.pdf">certificate of suitability</a> (PDF, 706 KB){% endif %} and <a target="_blank" href="https://formfinder.hmctsformfinder.justice.gov.uk/n9-eng.pdf">a response pack</a> (PDF, 266 KB) to the defendant by {{ dueDate }}.</li>
  {% if blnNeedsLitigationFriend %}
  {% endif %}
  <li><a href="certificate">Confirm service online</a> by {{ confirmDueDate }}.{% if blnNeedsLitigationFriend %} Upload a signed copy of the certificate of suitability when you confirm service.{% endif %}</li>
</ol>

<p> Download your sealed claim form at any time by logging in to the Manage your claims page.</p>

<div class="form-group">
  <a class="button" href="dashboard/claim-details?claim-status=1" role="button">View this claim</a>
</div>

<p><a href="email" role="button">Example - email</a></p>
<p><a href="dashboard" role="button">Example - dashboard</a></p>

<style type="text/css">
   .link-back{display: none}
</style>
{% endblock %}
