{% extends "prototype-mar-2018/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Create a password</h1>
<p>You'll use this to sign into your account and to come back to your application.</p>


<form action="login" method="post">
  <div class="form-group">
    <label class="form-label" for="username">Password</label>
    <p class="form-hint">This needs to be 8 characters or more, and include upercase letters, lowercase letters, and a number. Make sure you choose a password that isn't easy for anyone else to guess. Don't use something like Password1234.</p>
    <input type="password" class="form-control" id="new-password" name="new-password">
  </div>
  <div class="form-group">
    <label class="form-label" for="password">Repeat password</label>
    <input type="password" class="form-control" id="new-password2" name="new-password2">
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>
</form>


{% endblock %}
