{% extends "prototype-jan-2018/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">You've replied to the defendant's response</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: 000LR095</h2>
  <p>Submitted: {{ now | date( "D MMMM YYYY" ) }}</p>
</div>

<p><a href='../reply/view'>Check or print the details of your reply</a>.</p>

<div class="form-group">
  <a class="button" href="../dashboard/claim-details?claim-status=X" role="button">View this claim</a>
</div>

<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}