{% extends "prototype-mar-2018/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<div class="govuk-box-highlight">
  <h1 class="bold-large">You've acknowledged service</h1>
  <br>
  <h2 class="bold-medium form-group">Claim number: 000LR095 </h2>
  <p class="form-group-compound">New response deadline: {{ now | date("add", 14, "days") | date( "D MMMM YYYY" ) }}</p>
</div>

<p><a href='../acknowledgement/view'>Check or print the details</a> you gave us to acknowledge service.</p>


{% if data['friend_name'] %}
<p><a class="button" href="../certificate/how" role="button">Confirm service of certificate of suitability</a></p>

{% else %}
<p><a class="button" href="../respondent/claim-details?claim-status=1.1" role="button">View this claim</a></p>

{% endif %}

<style type="text/css">
	.link-back{display: none}
</style>
{% endblock %}
