{% extends "prototype-june2-2017/index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Enter claim value</h1>

<p class="bold-small">Tell us the values you expect the claim to fall between</p>
<form action="claim-interest" method="post">
  <div class="form-group">
    <div class="column-one-half no-padding">
      <span class="form-block">Lower value</span>
      <input type="text" class="form-control form-control-3-4 pound" name="lowerValue" id="lowerValue" value="{{ data['lowerValue'] }}">
    </div>
    <div class="column-one-half no-padding">
      <span class="form-block">Higher value</span>
      <input type="text" class="form-control form-control-3-4 pound" name="higherValue" id="higherValue" value="{{ data['higherValue'] }}">
    </div>
  </div>

  <div class="form-group">
    <div class="multiple-choice" data-target="max-fee">
      <input id="card" name="claim_amount_checkbox" type="checkbox" value="cannot" {{ checked('claim_amount_checkbox','cannot') }}>
      <label for="card">I can't state the value of the claim</label>
    </div>
    <div id="max-fee" class="panel panel-border-narrow js-hidden" aria-hidden="true">
      <p>You will be charged the maximum fee</p>
    </div>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>


{% endblock %}
