{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<a href="what-type-of-claimant" class="link-back">Back</a>
<h1 class="heading-large">Claimant's name</h1>

<form action="claimant-address" method="post">
  <div class="form-group">
    <label class="form-label" for="claimant_title">Title</label>
    <input type="text" class="form-control form-control-1-4" id="claimant_title" name="claimant_title" value="{{ data['claimant_title'] }}">
  </div>
  <div class="form-group">
    <label class="form-label" for="claimant_name">Full name</label>
    <textarea type="text" class="form-control" id="claimant_name" name="claimant_name" value="{{ data['claimant_name'] }}">{{ data['claimant_name'] }}</textarea>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>


{% endblock %}
