{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<!-- <a href="#" class="link-back">Back</a> -->
<a class="link-back" style="cursor: pointer; cursor: hand;" onclick="goBack()">Back</a>

<script>
function goBack() {
    window.history.back();
}
</script>

<h1 class="heading-large">Summarise the claim</h1>
<p class="form-hint">Explain the basics of the case for the defendant and the court. You don't need to include particulars of claim here.</p>

<form action="type-of-claim" method="post">
  <div class="form-group">
    <textarea class="form-control form-control-large" id="claim_details" rows="3" name="claim_details" type="text">{{ data['claim_details'] }}</textarea>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
