{% extends "../index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}
<h1 class="heading-large">Check the claim details</h1>

<p>Make sure this information is correct before you issue. </p>

<form action="client-sign" id="form" method="post" class="form-group">
  <div>
    <div class="task-list-item">
      <div class="column-third form-hint">Your name</div>
      <div class="column-third if-empty">
        {% if data['rep_title'] %} {{ data['rep_title'] }} {% endif %}
        {% if data['rep_name'] %} {{ data['rep_name'] }} {% endif %}</div>
      <div class="column-third"><a class="right" href="representatives-details">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Your company details</div>
      <div class="column-third if-empty">
        {% if data['rep_company_name'] %} {{ data['rep_company_name'] }}, {% endif %}
        {% if data['rep_AddressLine1'] %} {{ data['rep_AddressLine1'] }}, {% endif %}
        {% if data['rep_AddressLine2'] %} {{ data['rep_AddressLine2'] }},{% endif %}
        {% if data['rep_city'] %} {{ data['rep_city'] }}, {% endif %}
        {% if data['rep_Postcode'] %} {{ data['rep_Postcode'] }} {% endif %}
      </div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Your phone number</div>
      <div class="column-third if-empty">{% if data['rep_phone_number'] %} {{ data['rep_phone_number'] }} {% endif %}</div>
      <div class="column-third"><a class="right" href="representatives-contact">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Your email</div>
      <div class="column-third if-empty">{% if data['rep_email'] %} {{ data['rep_email'] }} {% endif %}</div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Your reference number</div>
      <div class="column-third if-empty">{% if data['claimant_individual_reference'] %} {{ data['claimant_individual_reference'] }} {% endif %}</div>
      <div class="column-third"><a class="right" href="claimant-individual-reference">Change</a></div>
    </div>
  </div>
  <div>
    <div class="task-list-item">
      <div class="column-third form-hint">Claimant's name</div>
      <div class="column-third if-empty">
        {% if data['claimant_title'] %} {{ data['claimant_title'] }} {% endif %}
        {% if data['claimant_name'] %} {{ data['claimant_name'] }} {% endif %}
      </div>
      <div class="column-third"><a class="right" href="claimant-details">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Claimant's address</div>
      <div class="column-third if-empty">
        {% if data['claimant_AddressLine1'] %} {{ data['claimant_AddressLine1'] }}, {% endif %}
        {% if data['claimant_AddressLine2'] %} {{ data['claimant_AddressLine2'] }},{% endif %}
        {% if data['claimant_city'] %} {{ data['claimant_city'] }}, {% endif %}
        {% if data['claimant_Postcode'] %} {{ data['claimant_Postcode'] }} {% endif %}
      </div>
      <div class="column-third"><a class="right" href="claimant-address">Change</a></div>
    </div>
  </div>
  <div>
    <div class="task-list-item">
      <div class="column-third form-hint">Defendant's name</div>
      <div class="column-third if-empty">
        {% if data['defendant_title'] %} {{ data['defendant_title'] }} {% endif %}
        {% if data['defendant_name'] %} {{ data['defendant_name'] }} {% endif %}
      </div>
      <div class="column-third"><a class="right" href="defendant-details">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Defendant's address</div>
      <div class="column-third if-empty">
        {% if data['defendant_address1'] %} {{ data['defendant_address1'] }}, {% endif %}
        {% if data['defendant_address2'] %} {{ data['defendant_address2'] }},{% endif %}
        {% if data['defendant_town'] %} {{ data['defendant_town'] }}, {% endif %}
        {% if data['defendant_postcode'] %} {{ data['defendant_postcode'] }} {% endif %}
      </div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Defendant's service address</div>
      <div class="column-third if-empty">
        {% if data['defendant_service_address1'] %} {{ data['defendant_service_address1'] }}, {% endif %}
        {% if data['defendant_service_address2'] %} {{ data['defendant_service_address2'] }},{% endif %}
        {% if data['defendant_service_city'] %} {{ data['defendant_service_city'] }}, {% endif %}
        {% if data['defendant_service_postcode'] %} {{ data['defendant_service_postcode'] }} {% endif %}
      </div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Defendants solicitor</div>
      <div class="column-third if-empty">{% if data['defendant_rep_name'] %} {{ data['defendant_rep_name'] }} {% endif %}</div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Defendant solicitor's address</div>
      <div class="column-third if-empty">
        {% if data['defendant_rep_address1'] %} {{ data['defendant_rep_address1'] }}, {% endif %}
        {% if data['defendant_rep_address2'] %} {{ data['defendant_rep_address2'] }}, {% endif %}
        {% if data['defendant_rep_city'] %} {{ data['defendant_rep_city'] }}, {% endif %}
        {% if data['defendant_rep_postcode'] %} {{ data['defendant_rep_postcode'] }} {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div class="task-list-item">
      <div class="column-third form-hint">Claim summary</div>
      <div class="column-third if-empty">{% if data['claim_details'] %} {{ data['claim_details'] }}, {% endif %}</div>
      <div class="column-third"><a class="right" href="claim-details">Change</a></div>
    </div>
  </div>
  <div class="form-group">
    <div class="task-list-item">
      <div class="column-third form-hint">Maximum claim amount</div>
      <div class="column-third if-empty">{% if data['higherValue'] %} £{{ data['higherValue'] }} {% endif %}</div>
      <div class="column-third"><a class="right" href="calculate-claim-fee">Change</a></div>
    </div>
    <div class="task-list-item">
      <div class="column-third form-hint">Interest</div>
      <div class="column-third if-empty">{% if data['interestRate'] %} {{ data['interestRate'] }} {% endif %}</div>
      <div class="column-third"><a class="right" href="calculate-interest">Change</a></div>
</div>
  </div>
  <br>

  <div>
    <div class="heading-medium" style="padding-top: 50px;">See how your form will look when printed</div>
    <a target="_blank" href="/public/documents/N1-form-draft.pdf" role="button">

      <img class="form-label" src="/public/images/sealed-claim.png" alt="sealed claim form"><p>Preview N1 form</p>
    </a>
  </div>

  <br>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

<!-- {% endblock %}

{% block side_content %}
<div class="column-third" style="margin-top: 55px">
  <div class="heading-large heading-bar"></div>
  <a target="_blank" href="/public/documents/N1-form-draft.pdf" role="button">
    <p>Preview N1 form</p>
    <img class="form-label" src="/public/images/sealed-claim.png" alt="sealed claim form">
  </a>
</div> -->


{% endblock %}
