{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}
<h1 class="heading-large">Claimant's address</h1>
<p>Use their home address only.</p>

<form method="post" action="defendant-type" class="form">
  <div class="form-group-compound">
    <label class="form-label" for="claimant_AddressLine1">Address line 1</label>
    <input class="form-control" id="claimant_AddressLine1" name="claimant_AddressLine1" type="text" value="{{ data['claimant_AddressLine1'] }}">
  </div>

  <div class="form-group-compound">
    <label class="form-label" for="claimant_AddressLine2">Address line 2 (optional)</label>
    <input class="form-control" id="claimant_AddressLine2" name="claimant_AddressLine2" type="text" value="{{ data['claimant_AddressLine2'] }}">
  </div>

  <div class="form-group-compound">
    <label class="form-label" for="claimant_city">Town or city</label>
    <input class="form-control" id="claimant_city" name="claimant_city" type="text" value="{{ data['claimant_city'] }}">
  </div>

  <div class="form-group">
    <label class="form-label" for="claimant_Postcode">Postcode</label>
    <input class="form-control form-control-1-4" id="claimant_Postcode" name="claimant_Postcode" type="text" value="{{ data['claimant_Postcode'] }}">
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>

</form>

{% endblock %}
