{% extends "prototype-june2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Your reference for this claim</h1>
<form action="claimant-company-details" method="post">
  <fieldset>
    <legend class="visually-hidden">Your reference for this claim</legend>

    <div class="form-group">
      <label for="claimant_company_reference" class="form-label"><span class="form-hint">Optional</span></label>
      <input id="claimant_company_reference" name="claimant_company_reference" type="text" class="form-control" value="{{ data['claimant_company_reference'] }}">
    </div>
  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

{% endblock %}
