{% extends "prototype-june2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<h1 class="heading-large">Enter defendant details</h1>
<form action="claim-details" method="post">
  <fieldset>
    <legend class="visually-hidden">Enter defendant details</legend>

    <div class="form-group">
      <label class="form-label" for="defendant_company_name">Company name</label>
      <input class="form-control" type="text" id="defendant_company_name" name="defendant_company_name" value="{{ data['defendant_company_name'] }}">
    </div>

    <div class="form-group">
      <label class="form-label" for="defendant_company_number">Companies House number</label>
      <input class="form-control" type="text" id="defendant_company_number" name="defendant_company_number" value="{{ data['defendant_company_number'] }}">
    </div>

    <div class="form-group">
      <label for="defendant_company_address1" class="form-label">Address 1</label>
      <input class="form-control" type="text" id="defendant_company_address1" name="defendant_company_address1" value="{{ data['defendant_company_address1'] }}">
    </div>

    <div class="form-group">
      <label for="defendant_company_address2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="defendant_company_address2" name="defendant_company_address2" value="{{ data['defendant_company_address2'] }}">
    </div>

    <div class="form-group">
      <label for="defendant_company_city" class="form-label">Town/city</label>
      <input  type="text" class="form-control" id="defendant_company_city" name="defendant_company_city" value="{{ data['defendant_company_city'] }}">
    </div>

    <div class="form-group">
      <label for="defendant_company_postcode" class="form-label">Postcode</label>
      <input  type="text" class="form-control" id="defendant_company_postcode" name="defendant_company_postcode" value="{{ data['defendant_company_postcode'] }}">
    </div>

<!-- Representation section    -->
    <p class="bold-medium">Is this defendant represented?</p>

<!-- No option    -->
    <div class="multiple-choice" data-target="other-address">
      <input id="company" name="serviceAddress" type="radio" value="company" {{ checked('serviceAddress','company') }}>
      <label for="company">No</label>
    </div>

    <div id="other-address" class="panel panel-border-narrow js-hidden" aria-hidden="false">

      <div class="form-group">
        <p>If this defendant is using a different address for service, please add it here</p>
        <label for="defendant_company_service_address1" class="form-label">Address 1</label>
        <input  type="text" class="form-control" id="defendant_company_service_address1" name="defendant_company_service_address1" value="{{ data['defendant_company_service_address1'] }}">
      </div>

      <div class="form-group">
        <label for="defendant_company_service_address2" class="form-label">Address 2</label>
        <input  type="text" class="form-control" id="defendant_company_service_address2" name="defendant_company_service_address2" value="{{ data['defendant_company_service_address2'] }}">
      </div>

      <div class="form-group">
        <label for="defendant_company_service_city" class="form-label">Town or city</label>
        <input  type="text" class="form-control" id="defendant_company_service_city" name="defendant_company_service_city" value="{{ data['defendant_company_service_city'] }}">
      </div>

      <div class="form-group">
        <label for="defendant_company_service_postcode" class="form-label">Postcode</label>
        <input  type="text" class="form-control" id="defendant_company_service_postcode" name="defendant_company_service_postcode" value="{{ data['defendant_company_service_postcode'] }}">
      </div>
    </div>

<!-- Yes option    -->
    <div class="multiple-choice" data-target="service-address">
      <input id="individual" name="serviceAddress" type="radio" value="individual" {{ checked('serviceAddress','individual') }}>
      <label for="individual">Yes</label>
    </div>

    <div id="service-address" class="panel panel-border-narrow js-hidden" aria-hidden="true">
      <div class="form-group">
        <label class="form-label" for="defendant_company_service_name">Firm name</label>
        <input class="form-control" type="text" id="defendant_company_service_name" name="defendant_company_service_name" value="{{ data['defendant_company_service_name'] }}">
      </div>

      <div class="form-group">
        <label for="defendant_company_service_address1" class="form-label">Address 1</label>
        <input  type="text" class="form-control" id="defendant_company_service_address1" name="defendant_company_service_address1" value="{{ data['defendant_company_service_address1'] }}">
      </div>

      <div class="form-group">
        <label for="defendant_company_service_address2" class="form-label">Address 2</label>
        <input  type="text" class="form-control" id="defendant_company_service_address2" name="defendant_company_service_address2" value="{{ data['defendant_company_service_address2'] }}">
      </div>

      <div class="form-group">
        <label for="defendant_company_service_city" class="form-label">Town or city</label>
        <input  type="text" class="form-control" id="defendant_company_service_city" name="defendant_company_service_city" value="{{ data['defendant_company_service_city'] }}">
      </div>

      <div class="form-group">
        <label for="defendant_company_service_postcode" class="form-label">Postcode</label>
        <input  type="text" class="form-control" id="defendant_company_service_postcode" name="defendant_company_service_postcode" value="{{ data['defendant_company_service_postcode'] }}">
      </div>
    </div>

  </fieldset>
  </form>
<br>

    <div class="form-group">
      <a class="button secondary-button" href="defendant-type" role="button">Add another defendant</a>
    </div>

    <!-- <div class="form-group">
      <input type="submit" class="button" value="Save and continue">
    </div> -->

    <a class="button" href="claim-details" role="button">Save and Continue</a>

{% endblock %}
