{% extends "prototype-june2-2017/index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}
<h1 class="heading-large">Enter defendant details</h1>
<form action="claim-details" method="post">
  <fieldset>
    <legend class="visually-hidden">Enter defendant details</legend>

    <div class="form-group">
      <label class="form-label" for="defendant_title">Title</label>
      <input type="text" class="form-control form-control-1-4" id="defendant_title" name="defendant_title" value="{{ data['defendant_title'] }}">
    </div>
    <div class="form-group">
      <label class="form-label" for="defendant_name">Full name</label>
      <textarea type="text" class="form-control" id="defendant_name" name="defendant_name">{{ data['defendant_name'] }}</textarea>
    </div>

    <div class="form-group">
      <label for="defendant_address1" class="form-label">Address 1</label>
      <input id="defendant_address1" name="defendant_address1" type="text" class="form-control" value="{{ data['defendant_address1'] }}">
    </div>

    <div class="form-group">
      <label for="defendant_address2" class="form-label">Address 2</label>
      <input id="defendant_address2" name="defendant_address2" type="text" class="form-control" value="{{ data['defendant_address2'] }}">
    </div>

    <div class="form-group">
      <label for="defendant_town" class="form-label">Town/City</label>
      <input id="defendant_town" name="defendant_town" type="text" class="form-control" value="{{ data['defendant_town'] }}">
    </div>

    <div class="form-group">
      <label for="defendant_postcode" class="form-label">Postcode</label>
      <input id="defendant_postcode" name="defendant_postcode" type="text" class="form-control" value="{{ data['defendant_postcode'] }}">
    </div>

    <!-- Representation section    -->
        <p class="bold-medium">Is this defendant represented?</p>

    <!-- No option    -->
        <div class="multiple-choice" data-target="other-address">
          <input id="company" name="serviceAddress" type="radio" value="company" {{ checked('serviceAddress','company') }}>
          <label for="company">No</label>
        </div>

        <div id="other-address" class="panel panel-border-narrow js-hidden" aria-hidden="false">

          <div class="form-group">
            <p>If this defendant is using a different address for service, please add it here</p>
            <label for="defendant_service_address1" class="form-label">Address 1</label>
            <input  type="text" class="form-control" id="defendant_service_address1" name="defendant_service_address1" value="{{ data['defendant_service_address1'] }}">
          </div>

          <div class="form-group">
            <label for="defendant_service_address2" class="form-label">Address 2</label>
            <input  type="text" class="form-control" id="defendant_service_address2" name="defendant_service_address2" value="{{ data['defendant_service_address2'] }}">
          </div>

          <div class="form-group">
            <label for="defendant_service_city" class="form-label">Town or city</label>
            <input  type="text" class="form-control" id="defendant_service_city" name="defendant_service_city" value="{{ data['defendant_service_city'] }}">
          </div>

          <div class="form-group">
            <label for="defendant_service_postcode" class="form-label">Postcode</label>
            <input  type="text" class="form-control" id="defendant_service_postcode" name="defendant_service_postcode" value="{{ data['defendant_service_postcode'] }}">
          </div>
        </div>

    <!-- Yes option    -->
        <div class="multiple-choice" data-target="service-address">
          <input id="individual" name="serviceAddress" type="radio" value="individual" {{ checked('serviceAddress','individual') }}>
          <label for="individual">Yes</label>
        </div>

        <div id="service-address" class="panel panel-border-narrow js-hidden" aria-hidden="true">
          <div class="form-group">
            <label class="form-label" for="defendant_rep_name">Firm name</label>
            <input class="form-control" type="text" id="defendant_rep_name" name="defendant_rep_name" value="{{ data['defendant_rep_name'] }}">
          </div>

          <div class="form-group">
            <label for="defendant_rep_address1" class="form-label">Address 1</label>
            <input  type="text" class="form-control" id="defendant_rep_address1" name="defendant_rep_address1" value="{{ data['defendant_rep_address1'] }}">
          </div>

          <div class="form-group">
            <label for="defendant_rep_address2" class="form-label">Address 2</label>
            <input  type="text" class="form-control" id="defendant_rep_address2" name="defendant_rep_address2" value="{{ data['defendant_rep_address2'] }}">
          </div>

          <div class="form-group">
            <label for="defendant_rep_city" class="form-label">Town or city</label>
            <input  type="text" class="form-control" id="defendant_rep_city" name="defendant_rep_city" value="{{ data['defendant_rep_city'] }}">
          </div>

          <div class="form-group">
            <label for="defendant_rep_postcode" class="form-label">Postcode</label>
            <input  type="text" class="form-control" id="defendant_rep_postcode" name="defendant_rep_postcode" value="{{ data['defendant_rep_postcode'] }}">
          </div>
        </div>

  </fieldset>

  <p><a class="button secondary-button" href="defendant-type" role="button">Add another defendant</a></p>

  <div class="form-group">
    <input type="submit" class="button" value="Save and continue">
  </div>
</form>

 {% endblock %}
