{% extends "../index.html" %} {% block page_title %} Claim Issue {% endblock %} {% block main_content %}

<a class="link-back" style="cursor: pointer; cursor: hand;" onclick="goBack()">Back</a>

<script>
function goBack() {
    window.history.back();
}
</script>

<h1 class="heading-large">Who is the first defendant?</h1>
<form action="defendant-type" id="form" method="post" class="form-group">
    <fieldset class="form-group">
        <legend class="visually-hidden">Who is the first defendant?</legend>

        <div class="multiple-choice">
            <input id="company" name="defendantType" type="radio" value="company" {{ checked('defendantType','company') }}>
            <label for="company">A company</label>
        </div>

        <div class="multiple-choice">
            <input id="individual" name="defendantType" type="radio" value="individual" {{ checked('defendantType','individual') }}>
            <label for="individual">An individual</label>
        </div>

    </fieldset>

    <div class="form-group">
      <input type="submit" class="button" value="Save and continue">
    </div>
</form>
{% endblock %}
