{% extends "../index.html" %} {% block page_title %} CMC Issue Prototype {% endblock %} {% block main_content %}

<h1 class="heading-large">Issue civil court proceedings</h1>

<h2 class="heading-medium">Who this service is for</h2>

<p>You must be a legal representative to use this service.</p>

<h2 class="heading-medium">What this service does</h2>

<p>This service is an alternative to posting a completed N1 claim form - it allows you to:</p>

<ul class="list list-bullet">
  <li>get civil court proceedings issued by the County Court online</li>
  <li>instantly calculate the court fee</li>
  <li>download the sealed claim form to serve on the defendant yourself</li>
</ul>

  <p>It normally takes 15 minutes to complete<p>

<!-- <ul class="list list-bullet">
  <li>want to serve the claim yourself</li>
  <li>don't need to enter particulars of claim when you issue</li>
</ul>

<p>You can't use this service to apply for help with fees at the same time as issuing the claim.</p> -->
<br>
<a class="button button-start" href="representative-name" role="button">Start now</a>

<br>

<h3 class="heading-small" style="padding-top: 16px;">Before you start</h3>

<p>You'll need:</p>

<ul class="list list-bullet">
  <li>current addresses for all claimants and defendants</li>
  <li>the address where you want the claim to be served</li>
  <li>a credit card or Fee Account to pay the <a href="https://www.gov.uk/make-court-claim-for-money/court-fees">issue fee</a>.
  </li>
</ul>
<div class="panel panel-border-wide">
<p>You must be a legal representative and have your client's permission to issue the claim.</p>
</div>

{% endblock %}
